{% load thumbnail i18n %}

<div class="program-plugin">
    <div class="program-list">

        {% for item in objects %}
        <div class="item program" data-livefg>
            <div class="row">

                <div class="small-12 columns">

                    <h3 data-livefg><span class="time">{{ item.time_start }}</span>{{ item.name }}</h3>

                    <div class="row">

                        <div class="small-4 columns classification">
                            <p class="header">
                                <i class="fa fa-heart"></i>
                                <span>{% trans 'Mood' %}</span>
                            </p>
                            <p class="body">{{ item.mood }}</p>
                        </div>

                        <div class="small-4 columns classification">
                            <p class="header">
                                <i class="fa fa-headphones"></i>
                                <span>{% trans 'Sound' %}</span>
                            </p>
                            <p class="body">{{ item.sound }}</p>
                        </div>

                        <div class="small-4 columns classification">
                            <p class="header">
                                <i class="fa fa-microphone"></i>
                                <span>{% trans 'Talk' %}</span>
                            </p>
                            <p class="body">{{ item.talk }}</p>
                        </div>

                    </div>

                    <div class="row">

                        <div class="small-12 columns">

                        {% if item.content_creators %}
                        <p class="credits">
                            <span>{% trans 'Mit Beiträgen von' %}</span><br>
                            {% for user in item.content_creators %}
                                <a href="//www.openbroadcast.org{{ user.absolute_url }}">{{ user.display_name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}

                        {% if item.content_programmers %}
                        <p class="credits">
                            <span>{% trans 'Verantwortlich' %}</span><br>
                            {% for user in item.content_programmers %}
                                <a href="//www.openbroadcast.org{{ user.absolute_url }}">{{ user.display_name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}

                        </div>

                    </div>

                </div>

            </div>
        </div>
        {% endfor %}

    </div>
</div>
