{% load thumbnail i18n %}

<div class="program-plugin">
    <div class="program-list">
        {% for emission in emissions %}
            <div class="emission" data-livefg>
                <h3 class="emission__title">
                    <span class="emission__title__time">
                        {{ emission.time_start|slice:'11:16' }}
                    </span>
                    <span class="emission__title__name">
                    {% if emission.series %}
                        {{ emission.series }}
                        {% if emission.series_number %}#{{ emission.series_number }}{% endif %}
                    {% else %}
                        {{ emission.name }}
                    {% endif %}
                    </span>
                </h3>
                <p class="emission__text">
                    <span><span class="dim">{% trans 'Kuratiert' %}:</span> {{ emission.user_co.pseudonym }}</span>
                    &mdash;
                    <span><span class="dim">{% trans 'Programmiert' %}:</span> {{ emission.user.pseudonym }}</span>
                </p>
            </div>
        {% endfor %}
    </div>
</div>
