{% extends "pdf/base.html" %}
{% load i18n %}

{% block content %}

<div id="address_content">
{% with order.addresses as addresses %}
{% with addresses.billing as address %}{% include "plata/_address.html" %}{% endwith %}
{% endwith %}
</div>

<div id="summary_content">


    <strong>Rechnung 675597</strong>

    <table>

        <tr>

            <td>Rechnungsdatum</td>
            <td>15.09.2014</td>
        </tr>
        <tr>
            <td>Faelligkeitsdatum</td>
            <td>05.10.2014</td>
        </tr>
        <tr>

            <td>Bestellnummer</td>
            <td>1499098</td>

        </tr>
        <tr>
            <td>Kundennummer</td>
            <td>623191</td>

        </tr>
    </table>


</div>






<h3>{% trans "Order items" %}</h3>
<table border="0">
{% for item in order.items.all %}
<tr>
    <td>{{ item.product }}</td>
    <td>{{ item.quantity }} * {{ item.currency }} {{ item.unit_price|floatformat:2 }}</td>
    <td>{{ item.currency }} {{ item.discounted_subtotal|floatformat:2 }}</td>
</tr>
{% endfor %}
</table>

{% with order.applied_discounts.all as discounts %}
  {% if discounts %}
    <h3>{% trans "Discounts" %}</h3>
      {% for discount in discounts %}
        <tr>
          <td>{{ discount.name }}</td>
          <td>{{ discount.code }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <h3>{% trans "Total" %}</h3>
  <table>
    <tr>
      <th style="text-align: left;">{% trans "subtotal"|capfirst %}</th>
      <td>{{ order.currency }} {{ order.subtotal|floatformat:2 }}</td>
    </tr>
    {% if discounts %}
      <tr>
        <th style="text-align: left;">{% trans "discount"|capfirst %}</th>
        <td>{{ order.currency }} {{ order.discount|floatformat:2 }}</td>
      </tr>
    {% endif %}
    <tr>
      <th style="text-align: left;">{% trans "shipping"|capfirst %}</th>
      <td>{{ order.currency }} {{ order.shipping|floatformat:2 }}</td>
    </tr>
    <tr>
      <th style="text-align: left;">{% trans "tax"|capfirst %}</th>
      <td>{{ order.currency }} {{ order.tax|floatformat:2 }}</td>
    </tr>
    <tr>
      <th style="text-align: left;">{% trans "total"|capfirst %}</th>
      <td>{{ order.currency }} {{ order.total|floatformat:2 }}</td>
    </tr>
  </table>
{% endwith %}



<hr>

<p>

Bankverbindung:<br>
Kontoinhaber: pavian design GmbH <br>
Bank: Deutsche Bank PGK Stuttgart<br>
IBAN: DE46600700240127079200<br>
BIC: DEUTDEDBSTG<br><br>
Anschrift f&uuml;r Vertrieb und R&uuml;cksendungen:<br>
Blank & Blank GbR<br>
Zufenhauserstrasse 54<br>
D-70825 Korntal/Stuttgart<br>
</p>


{% endblock %}