################################################
# core
################################################
Django==1.8.13


################################################
# general tools
################################################
BeautifulSoup==3.2.1
Markdown==2.6.6
Pillow==3.2.0
amqp==2.0.2
analytics==0.6.5
astral==1.2
beautifulsoup4==4.4.1
billiard==3.3.0.23
celery==3.1.23
crispy-forms-foundation==0.5.4
cssselect==0.9.1
cssutils==1.0.1
easy-thumbnails==2.3
html5lib==0.9999999
jsonfield==1.0.3
kombu==3.0.35
nydus==0.11.0
oauthlib==1.1.2
openpyxl==2.3.5
premailer==3.0.0
pygeocoder==1.2.5
pyparsing==2.1.5
python-dateutil==2.5.3
python-magic==0.4.11
python-mimeparse==1.5.2
pytz==2016.4
requests-oauthlib==0.6.1
requests==2.10.0
simplejson==3.8.2
six==1.10.0
sqlparse==0.1.19
tolerance==0.1.2
wsgiref==0.1.2
mailchimp==2.0.9


################################################
# server
################################################
gunicorn==19.6.0
MySQL-python==1.2.5
redis==2.10.5


################################################
# django modules
################################################
django-absolute==0.3
django-admin-shortcuts==1.2.7
django-appconf==1.0.2
django-authtools==1.5.0
django-badbrowser==1.0.7
django-celery==3.1.17
django-classy-tags==0.7.2
django-compressor==2.0
django-countries==3.4.1
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-email-as-username==1.6.7
django-emailit==0.2.2
django-extensions==1.6.7
django-filer==1.2.0
django-geoposition==0.2.2
django-guardian==1.4.4
django-hvad==1.5.1
django-mobile==0.7.0
django-mptt==0.8.4
django-pagedown==0.1.1
django-polymorphic==0.9.2
django-registration==2.1.1
django-reversion==2.0.2
django-sekizai==0.9.0
django-sendfile==0.3.10
django-settings-export==1.1.0
django-social-auth==0.7.28
django-split-settings==0.1.3
django-tastypie==0.13.3
django-xmlrpc==0.1.5
django_braces==1.9.0


################################################
# django-cms
################################################
django-cms==3.3.0
cmsplugin-filer==1.0.1
cmsplugin-twitter==1.1.0
djangocms-admin-style==0.2.8
djangocms-file==1.0
djangocms-gmaps==0.1.4.0
djangocms-link==1.7.2
djangocms-picture==1.0.0
djangocms-snippet==1.8.1
djangocms-teaser==0.2.0
djangocms-text-ckeditor==3.0.0
djangocms-video==1.0.0


################################################
# admin addons
################################################



################################################
# media & audio related
################################################



################################################
# custom repos
################################################
-e git+https://github.com/hzlf/graypy.git@master#egg=graypy


################################################
# services
################################################



################################################
# metrics & insights
################################################
raven==5.0.0






















