{% load i18n %}

<div class="program-plugin">
    <div class="program-list">

            <div class="header" data-livefg>
                <div class="header__airtime">
                    Airtime
                </div>
                <div class="header__title">
                    Program
                </div>
                <div class="header__author">
                    Editor
                </div>
            </div>

        {% for emission in emissions %}

            <div class="emission">

                <div class="emission__airtime">
                     {{ emission.time_start|slice:'11:16' }}
                </div>
                <div class="emission__title">
                    <a href="{{ settings.REMOTE_BASE_URL }}{{ emission.content_object.absolute_url }}" target="_blank">
                        {% if emission.series %}
                            {{ emission.series }}
                            {% if emission.series_number %}#{{ emission.series_number }}{% endif %}
                        {% else %}
                            {{ emission.name }}
                        {% endif %}
                    </a>
                </div>
                <div class="emission__author">
                    <a href="{{ settings.REMOTE_BASE_URL }}{{ emission.user_co.absolute_url }}" target="_blank">{{ emission.user_co.display_name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
