{% load static %}

<meta property="og:title" content="open broadcast radio"/>
<meta property="og:url" content="https://www.openbroadcast.ch/"/>
<meta property="og:description" content="Das erste vollständig user-generierte Radio der Schweiz."/>
<meta property="og:image" content="https://www.openbroadcast.ch/static/img/asset/logo-og.png" />
<meta property="og:image:width" content="1440" />
<meta property="og:image:height" content="920" />

<meta property="og:site_name" content="open broadcast radio" />
<meta property="og:type" content="music.radio_station" />
<meta property="og:audio" content="https://openbroadcast.ch/stream/openbroadcast-320.mp3" />
<meta property="og:audio:type" content="audio/vnd.facebook.bridge" />

<meta property="fb:app_id" content="746436298732388" />

{% comment %}
og:type - 'music.radio_station'
og:image - An image URL which should represent this radio station within the graph. The image must be at least 50px by 50px (though minimum 200px by 200px is preferred) and have a maximum aspect ratio of 3:1. We support PNG, JPEG and GIF formats.
og:url - The canonical URL of this radio station.
og:site_name - A human-readable name for your site, e.g., "IMDb".
fb:app_id - A Facebook Platform application ID that administers this page.
og:description - A one to two sentence description of this radio station.
og:audio - The URL to play this radio station.
og:audio:type - This should be set to "audio/vnd.facebook.bridge"
{% endcomment %}
