<div class="nav center-vertical">
    <ul class="small-3 medium-2">

        {% for product in image_products %}
            <li class="">
                <a href="#"
                   data-id="{{ product.pk }}"><span>{{ product }}</span></a>
            </li>
        {% endfor %}

        <li class="close">
            <a href="#"><i class="fa fa-angle-double-down"></i></a>
        </li>
        <li class="toggle">
            <a href="#"><i class="fa fa-angle-double-up"></i></a>
        </li>
    </ul>
</div>