{% load thumbnail sekizai_tags richimage_tags catalog_tags %}

{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}js/lib/owl.carousel.js"></script>
{% endaddtoblock %}

{% addtoblock "js-post" %}
    <script type="text/javascript">
        var $owl = $('#teaser-{{ instance.pk }}');
        $owl.owlCarousel({
            dots: true,
            margin: 0,
            items: 1,
            mouseDrag: false,
            onTranslated: hideOpenItems,
            animateOut: 'fadeOut'
        });

        function hideOpenItems(event) {
            $owl.find('.item.active').removeClass('active');
        }

        $('.nav .toggle').on('mouseenter', function () {
            $('.nav').addClass('hover');
            $owl.find('.owl-item.active .item').addClass('hover');
        });

        $('.nav').on('mouseleave', function () {
            $('.nav').removeClass('hover');
            $owl.find('.owl-item.active .item').removeClass('hover');
        });


    </script>
{% endaddtoblock %}

{% addtoblock "js-post" %}
    <script type="text/javascript">
        $('.showcase .nav li a').on('click', function (e) {
            var product_pk = $(this).data('id');
            if (product_pk) {
                var product_related = '.product-' + product_pk;
                $('.relations.selected').removeClass("selected");
                $(product_related).addClass('selected');
            }
            $(this).closest('.item').addClass('active');
        });

        $('.showcase .nav li.close a').on('click', function (e) {
            $(this).closest('.item').removeClass('active');
        });


    </script>
{% endaddtoblock %}


<section id="intro_teaser" class="content">
    <div class="row">
        <div class="small-12 columns">
            <div id="teaser-{{ instance.pk }}" class="teaser-carousel">


                {% for slide in slides %}
                    {% with image=slide.image %}

                        {% products_for_image image as image_products %}

                        <div class="item showcase">
                            <div class="showcase-panel ">
                                <div class="showcase">

                                    {% if image_products %}
                                        {% include "teaser/cmsplugin/_item_nav.html" %}

                                        {% for product in image_products %}
                                            {% include "teaser/cmsplugin/_item_related.html" %}
                                        {% endfor %}
                                    {% endif %}

                                    <figure class="background">
                                        <img src="{% thumbnail image 1280x625 upscale crop %}" style="width: 100%;"/>
                                    </figure>


                                </div>
                            </div>
                        </div>

                    {% endwith %}
                {% endfor %}


            </div>
        </div>
    </div>
</section>


<section class="teaser-content">
    <div class="row">
        <div class="small-8 medium-6 large-4 small-centered medium-centered large-centered columns">
            <h1 class="text-center">{{ object.name|upper }}</h1>

            <p class="text-center upper">{{ object.subline|upper }}</p>

        </div>
    </div>
</section>

