{% set item = object.emission.content_object %}

{% if item %}
    <div data-ct="playlist" class="ct-panel">

        <div class="row header">

            {% if item.main_image %}
            <div class="small-6 columns">
                <img src="{{ base_url }}{{ item.main_image }}">
            </div>
            {% endif %}

            <div class="{% if item.main_image %}small-6{% else %}small-12{% endif %} columns">
                <div class="text-left">
                    <h1>{{ item.name|truncate(24) }}</h1>
                    <ul class="no-bullet">

                        <li>
                            {{ object.emission.time_start|datetime2hhmm }}
                            -
                            {{ object.emission.time_end|datetime2hhmm }}
                        </li>

                        {% if item.duration %}
                        <li>
                            {{ item.duration|ms2time }}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row body  show-for-large-up">
            <div class="small-12 columns">
                {% if item.description %}
                <p>
                    {{ item.description|truncate(240) }}
                </p>
                {% endif %}
            </div>
        </div>

        {% if item.tags %}
        <div class="row tags text-left">
            <div class="small-12 columns">
                {% for tag in item.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
{% endif %}