{% extends "cms_base.html" %}
{% load cms_tags  webdesign %}

{% block body_extra_class %}cms cms-home{% endblock %}

{% block splash %}

<!-- large player!! -->
<section data-livebg id="onair_container">

    <div class="row">
        <div class="small-12 columns text-center">
            <div id="station_time">
                <span>00:00:00</span>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="small-12 large-4 large-push-4 columns text-center">

            <div class="info-container">

                <div class="items">



                    {% comment %}
                    {% include "_ptype/info_item.html" with extra_classes="previous previous-2" img_id=2 %}
                    {% include "_ptype/info_item.html" with extra_classes="previous previous-1" img_id=3 %}
                    {% include "_ptype/info_item.html" with extra_classes="current" img_id=1 %}
                    {% include "_ptype/info_item.html" with extra_classes="next next-1" img_id=4 %}
                    {% endcomment %}

                    {% include "_ptype/fallback_item.html" %}


                </div>

            </div>

            <div class="rating-container disabled"
                    id="rating_container"
                    data-votes_up="17"
                    data-votes_down="17">

                    <div class="vote vote-up left">
                        <a href="#">

                            <span>-</span>

                            <svg version="1.1"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px" y="0px"
                                 width="33px" height="31px"
                                 viewBox="0 0 33 31" xml:space="preserve">
                                <g>
                                    <polyline
                                            fill-opacity="0.2"
                                            stroke="#000000"
                                            stroke-miterlimit="10"
                                            points="8.5,14.5 14.5,14.5 20.5,0.5 23.5,0.5 23.5,13.5,32.5,13.5 32.5,25.5 29.5,30.5 19.5,30.5 16.5,28.5 8.5,28.5"/>
                                    <rect
                                            x="0.5" y="12.5"
                                            fill-opacity="0.2"
                                            stroke="#000000"
                                            stroke-miterlimit="10"
                                            width="8" height="18"/>
                                </g>
                            </svg>

                        </a>
                    </div>

                    <div class="separator"></div>

                    <div class="vote vote-down right">
                        <a href="#">

                            <svg version="1.1"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px" y="0px"
                                 width="33px" height="31px"
                                 viewBox="0 0 33 31" xml:space="preserve">
                                <g>
                                    <polyline
                                            fill-opacity="0.2"
                                            stroke="#000000"
                                            stroke-miterlimit="10"
                                            points="8.5,14.5 14.5,14.5 20.5,0.5 23.5,0.5 23.5,13.5,32.5,13.5 32.5,25.5 29.5,30.5 19.5,30.5 16.5,28.5 8.5,28.5"/>
                                    <rect
                                            x="0.5" y="12.5"
                                            fill-opacity="0.2"
                                            stroke="#000000"
                                            stroke-miterlimit="10"
                                            width="8" height="18"/>
                                </g>
                            </svg>

                            <span>-</span>

                        </a>
                    </div>

            </div>

        </div>
        <div class="small-12 large-4 columns">
            <div class="meta-container">

                <!-- loaded dynamically
                     template: onair/nj/meta.html
                -->

            </div>
        </div>
    </div>


    <div id="media_prev_next" class="show-for-large-up">

        <div class="previous disabled">
            <a href="{{ related_object.get_absolute_url }}"
               data-direction="previous"
               title="Previous Track">
                <div class="icon">
                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px"
	                    width="40px" height="72px"
                        viewBox="0 0 40 72"
                        enable-background="new 0 0 40 72" xml:space="preserve">
                        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="37.854,71 2.927,36.073 38,1 "/>
                    </svg>
                </div>
            </a>
        </div>

        <div class="next disabled">
            <a href="{{ related_object.get_absolute_url }}"
               data-direction="next"
               title="Next Track">
                <div class="icon">
                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px"
	                    width="40px" height="72px"
                        viewBox="0 0 40 72"
                        enable-background="new 0 0 40 72" xml:space="preserve">
                        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="3.073,71 38,36.073 2.927,1 "/>
                    </svg>
                </div>
            </a>
        </div>

    </div>


</section>


<section id="achat_container">


    <div class="row">
        <div class="small-4 small-centered columns">

            {% if user.is_authenticated  %}
                <form>
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <div class="chat-message">
                                <p contenteditable="true" id="chat_input"></p>
                            </div>
                        </div>
                        <div class="small-3 columns">
                            <!--
                            <a data-action="submit" href="#" class="button postfix">Talk!</a>
                            -->

                            <a data-action="submit" href="#" class="button split postfix">Talk! <span data-dropdown="achat_submit_extra"></span></a><br>
                            <ul id="achat_submit_extra" class="f-dropdown" data-dropdown-content>
                                <li><a
                                        data-action="submit"
                                        data-message_extra="question"
                                        href="#">Als Frage?</a></li>
                                <li><a
                                        data-action="submit"
                                        data-message_extra="exclamation"
                                        href="#">Als Ausruf!</a></li>
                            </ul>


                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-4 columns">
                            <div class="text-left">
                                <small>Hilfe</small>
                            </div>
                        </div>
                        <div class="small-5 columns">
                            <div class="text-right">
                                <!--
                                <ul class="no-bullet inline-list">
                                    <li><input type="radio" name="sex" value="male">M</li>
                                    <li><input type="radio" name="sex" value="male">F</li>
                                    <li><input type="radio" name="sex" value="male">X</li>
                                </ul>
                                -->
                            </div>
                        </div>
                        <div class="small-3 columns">

                        </div>
                    </div>
                </form>
            {% else %}
                <div>
                    <p>Login to join the discussion</p>
                </div>

            {% endif %}


        </div>
    </div>


    <div class="row messages">
        <div class="small-12 columns">

            <ul class="messages-container small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                <!-- loaded dynamically -->
            </ul>


        </div>
    </div>

</section>


{% endblock %}

{% block cms_content %}
<div class="row">
    <div class="small-12 columns main-content">
        <!--
        {% placeholder "content" or %}There is no content.{% endplaceholder %}
        -->
    </div>
</div>
{% endblock %}

