#snippet_teaser_daysy

  padding-top: 20px

  background-image: url(/static/img/snippet/daysy.blossom.png)
  background-repeat: no-repeat
  background-position: right
  height: 450px
  background-size: 400px

  .text-container
    h1
      color: #CD222D
      font-family: "Foco W01 Light", sans-serif
      font-weight: 500
      font-size: rem-calc(72)
      line-height: rem-calc(72)
    h2
      margin-top: 20px
      color: #A5A5A5
      font-family: "Rotis II Sans W01 Light", sans-serif
      font-weight: 500
      font-size: rem-calc(22)

  .logo-container
    img
      width: 120px !important

