{% load i18n sekizai_tags fd5_form_tags %}
<div id="dialog_container" class="alogin-dialog">

    <div class="row">

        <div class="small-12 columns">

            <div class="section-header">
                <h2>Login</h2>
            </div>

            <p>
                Melden Sie sich bei open broadcast an, um unser Radioprogramm zu kommentieren oder bei der
                Community mitzumachen.
            </p>

            <form method="post" action="{% url 'alogin-login' %}">

                {% csrf_token %}

                {{ form }}

                <button class="button simple black expanded" type="submit">{% trans "Login" %}</button>

            </form>

            <div>
                <p class="secondary">
                    <span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="{% url 'alogin-register' %}" data-alogin-action="register">Neues Konto erstellen?</a>
                    </span>
                    <br>
                    <span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="#" data-alogin-action="register">Passwort vergessen?</a>
                    </span>
                </p>
            </div>

            {% include 'alogin/_social.html' %}

        </div>
    </div>
</div>

<button class="close-button" data-close aria-label="{% trans 'Schliessen' %}" type="button">
    <span aria-hidden="true">&times;</span>
</button>
