{% load i18n sekizai_tags fd5_form_tags %}
<div id="dialog_container" class="alogin-dialog">

    <div class="row">
        <div class="small-12 columns">

            <div class="section-header">
                <h2>Profil</h2>
            </div>

            <p>
                Deine Benutzerdaten werden zentral auf unserer Plattform Seite gespeichert und verwaltet.<br>
                Du kannst dich mit dem selben Login anmelden.
            </p>

            <div>
                <p class="secondary">

                    <span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a target="_blank" href="https://www.openbroadcast.org/network/profiles/edit/">Profil auf www.openbroadcast.org bearbeiten</a>
                    </span>

                </p>
            </div>


            <p class="dim">
                <em>Hinweis</em><br>
                Einige Änderungen werden erst nach einer erneuten Anmeldung übernommen.
            </p>

        </div>
    </div>
</div>

<button class="close-button" data-close aria-label="{% trans 'Schliessen' %}" type="button">
    <span aria-hidden="true">&times;</span>
</button>
