{% load i18n sekizai_tags fd5_form_tags %}
<div id="dialog_container" class="alogin-dialog">

    <div class="row">
        <div class="small-12 columns">

            <div class="section-header">
                <h2>Profil</h2>
            </div>

            <p>
                Deine Benutzerdaten werden zentral auf unserer Plattform Seite gespeichert und verwaltet.<br>
                Du kannst dich mit dem selben Login anmelden.
            </p>

            <div>
                <p>
                    <a target="_blank" href="http://local.openbroadcast.org:8080/network/profiles/edit/">Profil auf www.openbroadcast.org bearbeiten</a>
                </p>
            </div>


            <p class="dim">
                <em>Hinweis</em><br>
                Einige Änderungen werden erst nach einer erneuten Anmeldung übernommen.
            </p>

        </div>
    </div>
</div>

<a class="close-reveal-modal">Schliessen <span>&#215;</span></a>