{% load i18n sekizai_tags fd5_form_tags %}
<div id="dialog_container">

    <div class="row">

        <div class="small-12 columns">

            <h2>Anmelden</h2>

            <p>Melden Sie sich bei open broadcast an, um unser Radioprogramm zu kommentieren oder bei der Community mitzumachen.</p>

            <form method="post" action="{% url 'alogin-register' %}">

                {% csrf_token %}


                <!--
                <label>Benutzername</label>
                <input type="text" name="user">
                <label>Password</label>
                <input type="password" name="user">
                <input type="submit" name="action" value="login">
                <input type="hidden" name="action" value="login">
                -->

                {{ form }}

                {% comment %}
                {% fd5_form_item form.username "small-12" %}
                {% fd5_form_item form.password "small-12" %}
                {% endcomment %}

                <button class="button simple small black expand" type="submit">{% trans "anmelden" %}</button>

            </form>


            <div>
                <p>
                    <a href="{% url 'alogin-login' %}" data-alogin-action="login">Login</a>
                </p>
            </div>



        </div>

    </div>

</div>