# ignore
.DS_Store
*.pyc
*.bak
.idea
.project
.pydevproject
*.ipynb_checkpoints
env
env*
node_modules

celerybeat-schedule

doc/_build

app/data.sqlite3
app/logs
app/media
app/settings/local_*
app/dev
app/env
app/static-src/dist
app/static-src/font
app/static-src/img
app/static-src/js
app/static-src/css
app/static-dist/*
celerybeat-schedule

yarn.lock
yarn-error.log
npm-debug.log


# legacy
website/env
website/project/local_settings.py
website/smedia
website/data.sqlite3
website/logs
website/media
website/components
website/static
website/site-static/.sass-cache
website/reports
website/device_data
website/dev
website/static/CACHE
website/celerybeat*

