################################################
# core
################################################
Django==2.2.7


################################################
# general tools
################################################
beautifulsoup4==4.8.1
# oauthlib==1.1.2
requests==2.22.0
requests-oauthlib==1.3.0
bleach==3.1.0
python-decouple==3.3
python-telegram-bot==11.1.0


################################################
# server
################################################
uwsgi==2.0.18
psycopg2==2.7.7
dj-database-url==0.5.0

# channels / asgi
daphne==2.3.0
channels==2.3.1
channels-redis==2.4.1
redis==3.3.11
django_redis==4.10.0

# celery
celery==4.3.0
django-celery-beat==1.5.0

################################################
# django modules
################################################
django-click==2.1.0
django-ganalytics==0.7.0

django-sekizai==1.0.0
django-sendfile==0.3.10
django-settings-export==1.2.1
django-simple-captcha==0.5.9
django_braces==1.13.0

# reworking auth / accounts
django-registration==2.2
django-password-reset==2.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0


##################################################################
# REST API
##################################################################
djangorestframework==3.10.3


################################################
# django-cms
################################################
django-cms==3.7.0
djangocms-link==2.5.0
djangocms-snippet==2.2.0
djangocms-text-ckeditor==3.8.0

# cms pinned dependencies
django-filer==1.6.0
cmsplugin-filer==1.1.3
easy-thumbnails==2.6


################################################
# custom repos
################################################
#-e git+https://github.com/hzlf/graypy.git@master#egg=graypy
git+https://github.com/palmbeach-interactive/django-slick-admin@0.2.0#egg=django-slick-admin


################################################
# metrics & insights
################################################
raven==6.10.0
