################################################
# core
################################################
Django==1.11.18


################################################
# general tools
################################################
beautifulsoup4==4.4.1
oauthlib==1.1.2
requests-oauthlib==0.6.1
requests==2.21.0
bleach==3.0.2
python-decouple==3.1
python-telegram-bot==11.1.0


################################################
# server
################################################
uwsgi==2.0.17.1
psycopg2-binary
redis==2.10.5
dj-database-url==0.5.0
channels==2.1.6
channels-redis==2.3.2
django_redis==4.10.0


################################################
# django modules
################################################
django-click==2.1.0
django-celery-beat==1.4.0
django-ganalytics==0.7.0


django-registration==2.2
django-sekizai==0.9.0
django-sendfile==0.3.10
django-settings-export==1.2.1
django-simple-captcha==0.5.9
django-tastypie==0.13.3
django_braces==1.9.0

# reworking auth / accounts
django-password-reset==2.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0


##################################################################
# RESTful API
##################################################################
djangorestframework==3.9.0


################################################
# django-cms
################################################
django-cms==3.4.6
djangocms-link==1.7.2
djangocms-snippet==1.8.1
djangocms-text-ckeditor==3.4.0


################################################
# admin addons
################################################



################################################
# media & audio related
################################################



################################################
# custom repos
################################################
#-e git+https://github.com/hzlf/graypy.git@master#egg=graypy
-e git+https://github.com/palmbeach-interactive/django-slick-admin@master#egg=django-slick-admin

################################################
# services
################################################



################################################
# metrics & insights
################################################
raven==5.0.0
