{% load menu_tags i18n  %}



{% if user.is_authenticated  %}

    <li class="has-dropdown hoverable">
        <a data-livefg href="#">{% firstof user.get_full_name user.username %}</a>
        <ul class="dropdown" data-livefg_>
            {% if user.is_staff %}

                <li class="divider"></li>

                {% if not cms_toolbar_disabled %}
                    <li class="hoverable"><a data-no-turbolink data-livefg_ href="?toolbar_off">{% trans 'Hide Toolbar' %}</a></li>
                {% else %}
                    <li class="hoverable"><a data-no-turbolink data-livefg_ href="?edit">{% trans 'Show Toolbar' %}</a></li>
                {% endif %}
                <li><a data-no-turbolink data-livefg_ target="_blank" href="/admin/">{% trans 'Administration' %}</a></li>


                <li class="divider"></li>
            {% endif %}



            <li class="hoverable">
                <a data-no-turbolink data-livefg_ href="{% url 'alogin-profile' %}" data-alogin-action="profile">{% trans 'profile & settings'|capfirst %}</a>
            </li>
            <li class="hoverable">
                <a data-no-turbolink data-livefg_ href="{% url 'alogin-logout' %}" data-alogin-action="logout">{% trans 'logout'|capfirst %}</a>
            </li>
        </ul>
    </li>

{% else %}

    <li class="hoverable">

        <a data-no-turbolink data-livefg_ href="{% url 'alogin-login' %}" data-alogin-action="login">{% trans 'login'|capfirst %} / {% trans 'register'|capfirst %}</a>

    </li>

{% endif %}



<!--
<li>
    <a target="_blank" href="https://lab.hazelfire.com/projects/2014-sonicsquirrel-net/issues/new"><i class="fa fa-fw fa-bug"></i><span> {% trans 'Bug Report' %}</span></a>
</li>
-->