{% load menu_tags i18n  %}



{% if user.is_authenticated  %}

    <li class="has-dropdown not-click"_>
        <a href="#">{% firstof user.get_full_name user.username %}</a>
        <ul class="dropdown">
            {% if user.is_staff %}
                <li><a target="_blank" href="/admin/">{% trans 'Administration' %}</a></li>
            {% endif %}
            <li>
                <a href="{% url 'alogin-logout' %}" data-alogin-action="logout">{% trans 'logout'|capfirst %}</a>
            </li>
        </ul>
    </li>

{% else %}

    <li>

        <a href="{% url 'alogin-login' %}" data-alogin-action="login">{% trans 'login'|capfirst %} / {% trans 'register'|capfirst %}</a>

        <!--
        <a href="{% url 'alogin-register' %}" data-alogin-action="register">{% trans 'register'|capfirst %}</a>
        -->

    </li>

{% endif %}



<!--
<li>
    <a target="_blank" href="https://lab.hazelfire.com/projects/2014-sonicsquirrel-net/issues/new"><i class="fa fa-fw fa-bug"></i><span> {% trans 'Bug Report' %}</span></a>
</li>
-->