{% load i18n %}
<div data-turbolinks-permanent data-livebg-inverse id="chat_button_container" class="show-for-large">

    <a class="chat-button hoverable" href="https://www.hipchat.com/gZj0paISd{% if user.is_authenticated %}?name={{ user.get_display_name }}{% endif %}" target="_blank">
        <div data-livefg-inverse class="help-text">
            <strong>{% trans 'Need Assistance' %}?</strong><br>
            <p>{% trans 'Contact our support chat' %}</p>
        </div>

        <i data-livefg-inverse class="fa fa-fw fa-question" aria-hidden="true"></i>
    </a>

</div>
