{% load menu_tags sekizai_tags thumbnail  %}
{% for child in children %}

    <li class="not-click {% if child.children %} has-dropdown{% endif %}{% if child.selected %} active{% endif %}{% if child.ancestor %} ancestor{% endif %}">


        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" data-hover="{{ child.get_menu_title }}"
           data-dropdown="sub-{{ child.get_menu_title|slugify }}"
           data-options="is_hover:false"><span>{{ child.get_menu_title }}</span></a>

        {% if child.children %}
            <div id="sub-{{ child.get_menu_title|slugify }}"
                 data-dropdown-content=""
                 class="large f-dropdown content row">

                <div class="large-12 columns inner">
                    <div class="row">

                        {% comment  %}TODO: split into 2-columns - properly - make first element active if not selected.. {% endcomment %}
                        <div class="submenu xlarge-2 large-3 medium-3 columns">
                            <ul>
                                {% for child in child.children %}
                                    {% if not forloop.counter|divisibleby:2 %}
                                        <li class="{% if child.selected %} active{% endif %}{% if child.ancestor %} ancestor{% endif %}">
                                            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
                                               data-id="{{ child.attr.item.pk }}">{{ child.get_menu_title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="submenu xlarge-2 large-3 medium-3 columns">
                            <ul>
                                {% for child in child.children %}
                                    {% if forloop.counter|divisibleby:2 %}
                                        <li class="{% if child.selected %} active{% endif %}{% if child.ancestor %} ancestor{% endif %}">
                                            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
                                               data-id="{{ child.attr.item.pk }}">{{ child.get_menu_title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>


                        <div class="submenu-teaser medium-6 right columns">

                            {% for child in child.children %}
                                <div id="teaser_{{ child.attr.item.pk }}"
                                     class="item {% if forloop.first %}active{% endif %}{% if child.selected %} active{% endif %}"
                                     data-permalink="{{ child.attr.redirect_url|default:child.get_absolute_url }}">

                                    <img src="{% thumbnail child.attr.item.main_image 600x200 quality=100 subsampling=0 crop upscale %}"
                                         data-2x="{% thumbnail child.attr.item.main_image 1200x400 quality=100 subsampling=0 crop upscale %}"/>

                                    <div class="info">
                                        <h2 class="text-center">{{ child.attr.item.name }}</h2>


                                        {% if child.attr.item.subline %}
                                            <p class="text-center">{{ child.attr.item.subline }}</p>
                                        {% else %}
                                            <p>&nbsp;</p>
                                        {% endif %}

                                        {% if child.attr.item.designer %}
                                            <p class="text-center">{{ child.attr.item.designer }}, {{ child.attr.item.product_start|date:"Y" }}</p>
                                        {% else %}
                                            {% if  child.attr.item.product_start %}
                                                <p class="text-center">{{ child.attr.item.product_start|date:"Y" }}</p>
                                            {% else %}
                                                <p>&nbsp;</p>
                                            {% endif %}
                                        {% endif %}
                                    </div>

                                    <div class="product-facts">
                                        <div class="small-12 medium-6 columns ">
                                            <dl class="horizontal text-left">
                                                <dt>Rahmenbreite</dt>
                                                <dd>{{ child.attr.item.total_width }} mm</dd>
                                                {% comment %}<dt>B - Stegbreite</dt>
                                        <dd>{{ object.web_width }} mm</dd>{% endcomment %}
                                                <dt>Gewicht</dt>
                                                <dd>{{ child.attr.item.weight }} Gramm</dd>

                                            </dl>
                                        </div>
                                        <div class="small-12 medium-6 columns">
                                            <dl class="horizontal text-right">
                                                <dt>Glas Breite</dt>
                                                <dd>{{ child.attr.item.glass_width }} mm</dd>
                                                <dt>Glas Höhe</dt>
                                                <dd>{{ child.attr.item.glass_height }} mm</dd>
                                            </dl>
                                        </div>
                                    </div>


                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </li>
{% endfor %}

{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}js/lib/jquery.hoverIntent-1.8.0.js"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript">
        //TODO: probably move to site.js because used in every template

        $(document).ready(function () {


            $item = $('header .submenu li');
            $teaser_container = $('header .submenu-teaser');


            $('header .submenu li').hoverIntent(function () {
                $anchor = $(this).find('a');
                var data_id = $anchor.data("id");

                $('header .submenu-teaser .active').removeClass("active");
                $active_item = $('header .submenu-teaser #teaser_' + data_id);
                $active_item.addClass("active");
            }, function () {
            });


            $('a[data-dropdown]').on('click', function (e) {
                setTimeout(function () {
                    if ($('.f-dropdown.open').length) {
                        $('html').addClass("dropdown-open");
                    } else {
                        $('html').removeClass("dropdown-open");
                    }
                }, 10)
            });

            $('body').on("click", function() {
                setTimeout(function () {
                    if (!$('.f-dropdown.open').length) {
                        $('html').removeClass("dropdown-open");
                    }

                }, 300);
            });


            //disable scrolling if dropdown is open, css not possible because scrollbar is missing with overflow hidden -> page flicker
            //TODO: fix for ipad
            window.onload = function (event) {
                document.onscroll = function (ev) {
                    if ($('html').hasClass('dropdown-open')) {
                        document.body.scrollTop = "0px";
                    }
                }
            };

        });
    </script>
{% endaddtoblock %}