{% load menu_tags %}
<footer id="footer">
    <div class="row">
        <div class="small-12 columns">
            <div class="seperator"></div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <div class="address">
                <p>
                    pavian design GmbH<br/>
                    Beustweg 4<br/>
                    CH-8032 Zürich
                </p>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <p class="contact">
                Tel: <a href="tel:+49711831470">+49 (0) 711 83 14 70</a><br>
                Fax: +49 (0) 711 83 14 63<br>
                <a href="mailto:info@openbroadcast.ch">info@openbroadcast.ch</a>
            </p>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="social-interaction">
                <div class="connect-links right">
                    <a href="#" class="xbutton xbutton-circle xbutton-flat-highlight social-button text-center">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>

                <div class="connect-links right">
                    <a href="#" class="xbutton xbutton-circle xbutton-flat-highlight social-button text-center">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>

                <div class="connect-links right">
                    <a href="#" class="xbutton xbutton-circle xbutton-flat-highlight social-button text-center">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="copyright ">
                <p>
                    © {% now "Y" %}, CONCEPT by pavian design GmbH<br/>
                    © 2014, Design & App by <a href="http://www.palmbeach-interactive.ch" target="_blank">palmbeach interactive</a>
                </p>
            </div>
        </div>
    </div>
</footer>
