{% load sekizai_tags %}

{% addtoblock 'js-post' %}
<script>
    $(function(){
        var messages_container = $('#site_messages');
        messages_container.on('click', 'a.mark-seen', function(e){
            e.preventDefault();
            $(this).parents('li').fadeOut(500, function(){
                $(this).remove();
                if(! $('li', messages_container).length) {
                    messages_container.fadeOut(500);
                }
            });
        });
    });
</script>
{% endaddtoblock %}

<!-- message container -->
{% if messages %}
<div id="site_messages">
    <div class="row">
        <div class="small-12 columns">
            <ul class="messages no-bullet">
                {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message|linebreaksbr }}
                    <a class="right mark-seen"><i class="fa fa-times"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
<!-- end message container -->