{% load sekizai_tags %}

{% addtoblock 'js-post' %}
<script>
    $(function(){
        $('body').on('click', '#site_messages a.mark-seen', function(e) {
            e.preventDefault();
            $(this).parents('li').fadeOut(500, function(){
                $(this).remove();
            });
        });
    });
</script>
{% endaddtoblock %}

<!-- message container -->
<div id="messages_container">
{% if messages %}
<div id="site_messages">

    <ul class="messages no-bullet">
        {% for message in messages %}
        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message|linebreaksbr }}
            <a class="right mark-seen"><i class="fa fa-times"></i></a>
        </li>
        {% endfor %}
    </ul>

</div>
{% endif %}
</div>
<!-- end message container -->