<div class="image"
     data-resource_uri="{{ object.resource_uri }}"
     data-id="{{ object.id }}"
     data-uuid="{{ object.uuid }}">
    <div>

        <ul data-orbit>
            {% if object.release.main_image %}
            <li>
                <img src="{{ object.release.main_image }}" alt="{{ object.release.name }}" width="570">
                <div class="orbit-caption">
                    {{ object.release.name }}
                </div>
            </li>
            {% endif %}
            {% if object.artist.main_image %}
            <li>
                <img src="{{ object.artist.main_image }}" alt="{{ object.artist.name }}" width="570">
                <div class="orbit-caption">
                    {{ object.artist.name }}
                </div>
            </li>
            {% endif %}
        </ul>


    </div>
</div>

