<div class="row base small-collapse medium-collapse large-uncollapse">
    <div class="small-12 columns">


        <div class="row collapse">

            <div class="columns small-1">

                <div class="actions left">
                    <a data-bplayer-controls="resume" href="#"><i class="fa fa-play"></i></a>
                    <a data-bplayer-controls="pause" href="#"><i class="fa fa-pause"></i></a>
                </div>

            </div>

            <div class="columns small-10">
                <section class="playlist history compact">

                    {% if not opts.onair and opts.mode != 'history' %}

                        <div class="item playing fallback-text">
                            <span>Unbekannter Titel - "Emergency Player"</span>
                        </div>

                    {% else %}

                        {% for item in objects %}
                            {# if loop.first #}
                            <div class="item{% if item.onair %} onair{% endif %}"
                                data-uuid="{{ item.item.uuid }}">

                                <a href="#">{{ item.item.name }}</a>
                                <br class="show-for-small-only">
                                <span>by</span>
                                <a href="#">{{ item.item.artist.name }}</a>

                            </div>
                            {# endif #}
                        {% endfor %}

                    {% endif %}

                </section>
            </div>

            <div class="columns small-1">

                <div class="actions right">
                    <a data-bplayer-display="toggle-history" href="#"><i class="fa fa-angle-double-up"></i></a>
                </div>

            </div>


        </div>


        <!--
        <div class="controls-left">
            <ul class="actions inline-list no-bullet">
                <li><a data-bplayer-controls="pause" href="#"><i class="fa fa-pause"></i></a></li>
                <li><a data-bplayer-controls="resume" href="#"><i class="fa fa-play"></i></a></li>
            </ul>
        </div>

        <section class="playlist history compact">

            {% if not opts.onair and opts.mode != 'history' %}

                <div class="item playing">
                    <span>Unbekannter Titel - "Emergency Player"</span>
                </div>

            {% else %}

                {% for item in objects %}
                    {# if loop.first #}
                    <div class="item{% if item.onair %} onair{% endif %}"
                        data-uuid="{{ item.item.uuid }}">

                        <a href="#">{{ item.item.name }}</a>
                        <br class="show-for-small-only">
                        <span>by</span>
                        <a href="#">{{ item.item.artist.name }}</a>

                    </div>
                    {# endif #}
                {% endfor %}

            {% endif %}

        </section>

        <div class="controls-right">
            <ul class="actions inline-list no-bullet">
                <li class="right_"><a data-bplayer-display="toggle-history" href="#"><i class="fa fa-angle-double-up"></i></a></li>
            </ul>
        </div>
        -->

    </div>
</div>



