
<section class="playlist history compact">

    {% for item in objects %}
        <div class="item{% if item.onair %} onair{% endif %}"
            data-uuid="{{ item.item.uuid }}">

            <a href="#">{{ item.item.name }}</a>
            <br class="show-for-small-only">
            <span>by</span>
            <a href="#">{{ item.item.artist.name }}</a>

        </div>
    {% endfor %}

</section>


<section class="playlist history expanded">


    <!-- TODO: find another way for template switching -->
    <!-- condensed/mobile display -->
    <div class="show-for-small-only">

        {% for item in objects %}
        <div class="row item hoverable{% if item.onair %} onair{% endif %}">

            <div class="small-2 col-action columns">
                {% if item.onair %}
                    <a href="#"><!--<i class="fa fa-pause"></i>-->||</a>
                {% else %}
                    <a data-login-required href="#"><i class="fa fa-play"></i></a>
                {% endif %}
            </div>

            <div class="small-2 col-airtime columns">
                {% if item.onair %}
                <span>On Air</span>
                {% else %}
                    {% if item.time_start %}
                    {{ item.time_start|datetime2hhmm }}
                    {% endif %}
                {% endif %}
                &nbsp;
            </div>

            <div class="small-8 col-name columns">
                <p>
                    {{ item.item.name }}
                    <br>
                    by: {{ item.item.artist.name }}
                </p>
            </div>


        </div>
        {% endfor %}

    </div>





    <!-- expanded/table style display -->
    <div class="show-for-medium-up">

        <div class="row header">
            <div class="col-airtime columns">
                Airtime
            </div>
            <div class="col-action columns">
                &nbsp;
            </div>
            <div class="col-name columns">
                Title
            </div>
            <div class="col-artist columns">
                Artist
            </div>
            <!-- price & buy are not available yet - just here for the future™
            <div class="col-price columns">
                Price
            </div>
            <div class="col-buy columns end">
                &nbsp;
            </div>
            -->
        </div>

        {% for item in objects %}
        <div class="row item hoverable{% if item.onair %} onair{% endif %}"
            data-uuid="{{ item.item.uuid }}">

            <div class="col-airtime columns">
                {% if item.onair %}
                <span>On Air</span>
                {% else %}
                    {% if item.time_start %}
                    {{ item.time_start|datetime2hhmmss }}
                    {% endif %}
                {% endif %}
                &nbsp;
            </div>

            <div class="col-action columns">


                <!--
                {% if item.onair %}
                    <a href="#">||</a>
                {% else %}
                    <a data-login-required href="#"><i class="fa fa-play"></i></a>
                {% endif %}
                -->


                <div class="controls hoverable">

                    <span class="play">
                        <a href="#" data-login-required data-bplayer-controls="play"><i class="fa fa-play"></i></a>
                    </span>

                    <span class="pause">
                        <a data-bplayer-controls="pause" href="#">||</a>
                    </span>

                    <!--
                    <span class="loading">
                        <a href="#"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></a>
                    </span>
                    -->
                </div>



            </div>

            <div class="col-name columns">
                {{ item.item.name }}
            </div>

            <div class="col-artist columns">
                {{ item.item.artist.name }}
            </div>

            <!-- price & buy are not available yet - just here for the future™
            <div class="col-price columns">
                {% if item.onair %}
                    <span class="price">CHF 0.20</span>
                    <span class="increase-step">+0.10 in</span>
                    <span class="increase-time">17sec</span>
                {% else %}
                    <span>CHF 0.50</span>
                {% endif %}

            </div>
            <div class="col-buy columns text-right">
                <a data-login-required href="#">Buy Now!</a>
            </div>
            -->

        </div>
        {% endfor %}

    </div>





</section>

