<div class="row base small-collapse medium-collapse large-uncollapse">
    <div class="small-12 columns">


        <section class="playlist history expanded">

            <!-- expanded/table style display -->
            <div>

                <div class="row header collapse">
                    <div class="col-airtime columns">
                        Airtime
                    </div>
                    <div class="col-action columns">
                        &nbsp;
                    </div>
                    <div class="col-name columns">
                        Title
                    </div>
                    <div class="col-artist columns">
                        Artist
                    </div>
                    <!-- price & buy are not available yet - just here for the future
                    <div class="col-price columns">
                        Price
                    </div>
                    <div class="col-buy columns end">
                        &nbsp;
                    </div>
                    -->

                </div>


                <!---->
                {% if not opts.onair %}

                    <div class="row item collapse playing">

                        <div class="col-airtime columns">
                            <span>On Air</span>
                        </div>

                        <div class="col-action columns">

                            <div class="controls hoverable">

                                <span class="play">
                                    <a href="#" data-account-login-required data-bplayer-controls="play"><i class="fa fa-play"></i></a>
                                </span>

                                <span class="pause">
                                    <a data-bplayer-controls="pause" href="#"><i class="fa fa-pause"></i></a>
                                </span>

                            </div>

                        </div>

                        <div class="col-name columns">
                            Unbekannter Titel - "Emergency Player"
                        </div>

                    </div>

                {% else %}


                {% for item in objects %}


                    <div class="row item collapse hoverable{% if item.onair %} onair{% endif %}"
                         data-uuid="{{ item.item.uuid }}">

                        <div class="col-airtime columns">
                            {% if item.onair %}
                                <span>On Air</span>
                            {% else %}
                                {% if item.time_start %}
                                    {{ item.time_start|datetime2hhmmss }}
                                {% endif %}
                            {% endif %}
                            &nbsp;
                        </div>

                        <div class="col-action columns">

                            <div class="controls hoverable">

                                <span class="play">
                                    <a href="#" data-account-login-required data-bplayer-controls="play"><i class="fa fa-play"></i></a>
                                </span>

                                <span class="pause">
                                    <a data-bplayer-controls="pause" href="#"><i class="fa fa-pause"></i></a>
                                </span>

                            </div>

                        </div>

                        <div class="col-name columns">
                            {{ item.item.name }}
                        </div>

                        <div class="col-artist columns">
                            {{ item.item.artist.name }}
                        </div>

                        <!-- price & buy are not available yet - just here for the future
                        <div class="col-price columns">
                            {% if item.onair %}
                                <span class="price">CHF 0.20</span>
                                <span class="increase-step">+0.10 in</span>
                                <span class="increase-time">17sec</span>
                            {% else %}
                                <span>CHF 0.50</span>
                            {% endif %}

                        </div>
                        <div class="col-buy columns">
                            <a data-account-login-required href="#"><span>Kaufen!</span></a>
                        </div>
                        -->


                    </div>
                {% endfor %}



                {% endif %}

            </div>

        </section>

    </div>
</div>


<div class="actions-expanded">
    <ul class="no-bullet">
        <li><a data-bplayer-display="toggle-history" href="#">
            <i class="fa fa-fw fa-angle-double-down"></i></a>
        </li>
    </ul>
</div>
