<!-- item in this context: "track" - active or history -->
<div class="item info fallback-item">

    <!-- base container - media -->
    <div class="container front">

        <div class="wrapper">
            <div data-action="listen" class="action hoverable">
                <span>
                    <a href="#" data-action="listen">Listen</a>
                </span>
            </div>
        </div>

        <div class="header">
            <span>open<br>broadcast<br>radio</span>
        </div>

        <div class="footer">
                <span class="text">
                    <em>live on</em>
                </span>
                <img class="logo" alt="DAB+ Logo" src="{{ STATIC_URL }}img/base/logo.dab.white.png" >
        </div>


    </div>

</div>
<!-- item end -->