<!-- item in this context: "track" - active or history -->
<div class="item info {{ extra_classes }}">

    <!-- base container - media -->
    <div class="container front"
         style="background: url(http://claudiabasel.ch/proto/openbroadcast/img/cover_{{ img_id }}.jpg)">

        <div class="wrapper">
            <div data-action="listen" class="action hoverable">
                <span>
                    <a href="#" data-action="listen">Listen</a>
                </span>
            </div>
        </div>
    </div>

    <!-- swapable container - artist/label/etc -->
    <div class="container back">

        <div class="row">
            <div class="small-6 columns">
                <img src="http://claudiabasel.ch/proto/openbroadcast/img/cover_2.jpg">
            </div>
            <div class="small-6 columns">
                <div class="text-left">
                    <h1>Peter und der Wolf</h1>
                    <h2>Group USA</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <p>
                    A value of 0s, or 0ms, indicates that the property will begin to animate its transition immediately when the value changes; positive values will delay the start of the transition effect for the corresponding number of seconds. Negative values cause the transition to begin immediately. <br>But to cause the transition to seem to begin partway through the animation effect.
                </p>
            </div>
        </div>

    </div>

</div>
<!-- item end -->