.footer-container
  .footer

    @include xy-grid-container
    padding: 36px 0 64px

    .footer-social
      display: flex
      justify-content: center

      &__item
        height: 30px
        width: 30px
        margin: 0 10px
        opacity: .5
        filter: grayscale(100%)

        .social-profile
          text-align: center

        &:hover
          opacity: 1

body.cms-base footer
  background-color: white !important

body.cms-home footer
  background-color: $light-gray !important
