

.form-base

  textarea,
  select,
  input
    // remove webkit glow
    outline: none
    border: 1px solid $light-gray
    &:hover
      border-color: $medium-gray
    &:focus
      border-color: $dark-gray

  //button
  //  outline: none






// django-simple-captcha
=captcha
  display: flex
  .captcha-text
    flex-grow: 1
  .captcha-image
    img
      height: 32px

=input-container
  margin: 0 0 16px 0
  display: flex
  flex-direction: column
  &__field
    display: flex
    flex-wrap: wrap
    width: 100%
    &__label
      display: flex
      align-items: center
      width: 34%
    &__input
      width: 66%
      input
        width: 100%
        padding: 6px 8px 6px
  &__appendix
  &__field-help
    display: none
    width: 100%
    text-align: right
    font-size: 80%
    opacity: 0.8
  &__field-errors
    width: 100%
    text-align: right
    font-size: 80%
    font-weight: 400
    color: $alert-color
  &--has-errors &
    &__field__input
      input
        border: 1px solid $alert-color
  &--has-errors
    .captcha-container
      .captcha-image
        border: 1px solid $alert-color
        border-left: 0
        img
          height: 30px !important
  // special elements
  .captcha-container
    +captcha
