{% extends "registration/registration_base.html" %}
{% load i18n sekizai_tags fd5_form_tags %}

{% block app_title %}{% trans "Create new password" %}{% endblock %}

{% block app_content %}

{% if validlink %}




    <form method="post" action=".">

        {% csrf_token %}

        <div class="row">
            {% fd5_form_item form.new_password1 "small-12 medium-6" %}
            {% fd5_form_item form.new_password2 "small-12 medium-6" %}
        </div>

        <div class="row">
            <div class="small-12 columns">
                <ul class="button-group clearfix simple bottom">
                    <li class="right">
                        <button class="button simple small" type="submit"><i class="fa fa-floppy-o"></i> {% trans 'Submit' %}</button>
                    </li>
                </ul>
            </div>
        </div>


    </form>


    <div class="row" style="margin-top: 40px;">
        <div class="small-12 medium-6 columns">
            <h3>Invitation</h3>

            <p>
                Code: {{ invitation }}<br>
                Please create a password for your account below.<br>
                The email-address associated with this account - and needed to login- is:<br>

            </p>

             <p class="text-center">
                 <strong><em>{{ invitation_user.email }}</em></strong>
             </p>


        </div>
        <div class="small-12 medium-6 columns">
            <h3>Contact</h3>

            {% with object=invitation_user.contactuser %}
            <p>
                {% if object.billing_company %}
                {{ object.billing_company }}<br>
                {% endif %}

                {% if object.billing_name %}
                {{ object.billing_name }}<br>
                {% endif %}

                {% if object.billing_phone %}
                {% trans "Phone" %}: {{ object.billing_phone }}<br>
                {% endif %}

                {% if object.billing_fax %}
                {% trans "Fax" %}: {{ object.billing_fax }}<br>
                {% endif %}

            </p>

            <p>
                {% if object.billing_address %}
                {{ object.billing_address|linebreaksbr }}
                {% endif %}

                {% if object.billing_zip_code or object.billing_city %}
                    {{ object.billing_zip_code|default_if_none:"" }}
                    {{ object.billing_city|default_if_none:"" }}<br>
                {% endif %}

                {% if object.billing_country %}
                {{ object.billing_country.name|upper }}
                {% endif %}

            </p>
            {% endwith %}


        </div>
    </div>

{% else %}

    <p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
