<li class="item message new{% if message.user.is_me %} me{% endif %} {% if message.extra_classes %} {{ message.extra_classes }}{% endif %}">

    <div class="body"
        {% if message.user.is_me %}data-livebg{% endif %}
        >
        {% if message.text|length() > 240%}
            <p class="truncated">
                {{ message.text|linebreaksbr|truncate(240, True, '<a class="show-full-text" href="#">&nbsp;&gt;&gt;&gt;</a>')|urlize() }}
            </p>
            <p class="full hide">
                {{ message.text|linebreaksbr|urlize() }}
                <a class="show-full-text" href="#">&nbsp;&lt;&lt;&lt;</a>
            </p>
        {% else %}
            <p>
                {{ message.text|linebreaksbr|urlize() }}
            </p>
        {% endif %}
    </div>

    <div class="author text-center">
        <span class="user">
            {% if message.user.is_me %}
            << me >>
            {% else %}
                {% if message.user.name %}
                    <a  data-profile_uri="{{ message.user.profile_uri }}" href="#">{{ message.user.name }}<!--({{ message.user.username }})--></a>
                {% else %}
                    <a  data-profile_uri="{{ message.user.profile_uri }}" href="#">{{ message.user.username }}</a>
                {% endif %}
            {% endif %}
        </span>
        <span class="separator">|</span>
        <span class="timestamp" title="{{ message.created }}"></span>
    </div>

</li>