<li class="item message new{% if message.user.is_me %} me{% endif %} {% if message.extra_classes %} {{ message.extra_classes }}{% endif %}"
     {% if message.user.is_me %}data-livebg{% endif %}>

    <div class="body">
        <p>
        {{ message.text|truncate(240, True, '<a href="#">...</a>') }}
        </p>
    </div>

    <div class="author text-center">
        <span class="user">
            {% if message.user.is_me %}
            << me >>
            {% else %}
                {% if message.user.name %}
                    <a href="#">{{ message.user.name }} ({{ message.user.username }})</a>
                {% else %}
                    <a href="#">{{ message.user.username }}</a>
                {% endif %}
            {% endif %}
        </span>
        <span class="separator">|</span>
        <span class="timestamp">{{ message.created }}</span>
    </div>

</li>