

<div class="row profile">

    <div class="small-{% if object.image %}9{% else %}12{% endif %} columns">
        <ul class="no-bullet">
            <li class="name">{{ object.full_name }}</li>
            {% if object.pseudonym%}
                <li class="name pseudonym">a.k.a. "{{ object.pseudonym }}"</li>
            {% endif %}
            <li class="location">{{ object.city }}{% if object.city and object.country %}, {% endif %}{{ object.country }}</li>


        </ul>
    </div>

    {% if object.image %}
        <div class="small-3 columns">
            <img src="{{ base_url }}{{ object.image }}">
        </div>
    {% endif %}

    {% if object.groups %}
    <div class="row roles text-left">
        <div class="small-12 columns">
            {% for group in object.groups %}
            <span class="role">{{ group }}</span>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

