{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block body_extra_class %}form-view auth auth-password-reset{% endblock %}

{% block app_content %}


    <div class="auth-card">
        <span class="title">{% trans "Password Recovery" %}</span>
        <p class="text">
            {% if invalid %}{% url "password_reset_recover" as recovery_url %}
                {% blocktrans trimmed %}
                Sorry, this password reset link is invalid. You can still
                <a href="{{ recovery_url }}">request a new one</a>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans trimmed %}
                Hi, <strong>{{ username }}</strong>. Please choose a new password.
                {% endblocktrans %}
            {% endif %}
        </p>
        <div class="form-container">
            <form method="post" class="form-base form-account account-partial" data-xhr-exclude action="{% url 'account:password_reset' token %}">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="input-container{% if field.errors %} input-container--has-errors{% endif %}" id="input_{{ field.id_for_label }}">
                        <div class="input-container__field">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        <div class="input-container__appendix">
                            {% if field.help_text and not field.errors %}
                            <div class="input-container__field-help">
                                <span>{{ field.help_text|safe }}</span>
                            </div>
                            {% endif %}
                            {% if field.errors %}
                                <div class="input-container__field-errors">
                                 {% for error in field.errors %}
                                    <span>{{ error|escape }}</span>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="actions">
                    <button class="actions__action button" type="submit">{% trans "Set Password" %}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
