{% load i18n account_tags %}

{% block app_content %}
    <div class="auth-card">
        <span class="title">{% trans "Password Recovery" %}</span>
        <p class="text">
            Melde dich bei open broadcast an, um unser Radioprogramm zu kommentieren oder bei der Community mitzumachen.
        </p>
        <div class="form-container">
            <form method="post" class="form-base form-account account-partial" data-xhr-exclude action="{{ url }}">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="input-container{% if field.errors %} input-container--has-errors{% endif %}" id="input_{{ field.id_for_label }}">
                        <div class="input-container__field">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        <div class="input-container__appendix">
                            {% if field.help_text and not field.errors %}
                            <div class="input-container__field-help">
                                <span>{{ field.help_text|safe }}</span>
                            </div>
                            {% endif %}
                            {% if field.errors %}
                                <div class="input-container__field-errors">
                                 {% for error in field.errors %}
                                    <span>{{ error|escape }}</span>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="actions">
                    <button class="actions__action button" type="submit">{% trans "Reset Password" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
