{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block body_extra_class %}form-view auth auth-password-reset{% endblock %}


{% block app_content %}

    <div class="auth-inner">
        <div class="auth-card">
            <div class="row small-up-1">
                <div class="column">

                    <h1 class="headline">{% trans "Password Recovery" %}</h1>
                </div>

                <div class="column">

                    {% if invalid %}{% url "password_reset_recover" as recovery_url %}
                        <p>
                            {% blocktrans trimmed %}
                            Sorry, this password reset link is invalid. You can still
                            <a href="{{ recovery_url }}">request a new one</a>.
                            {% endblocktrans %}
                        </p>
                    {% else %}
                        <p>
                            {% blocktrans trimmed %}
                            Hi, <strong>{{ username }}</strong>. Please choose a new password.
                            {% endblocktrans %}
                        </p>
                        <form method="post" action="{% url 'account:password_reset' token %}" class="form-base">
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                    {% endif %}

                </div>


            </div>
        </div>
    </div>


{% endblock %}
