{% load sekizai_tags i18n %}

{% addtoblock "js-post" %}
    <script>
        $(function () {

        });
    </script>
{% endaddtoblock %}

<div id="bplayer_container">


    <div class="row base">
        <div class="small-12 columns">

            <div class="controls-left">
                <ul class="actions inline-list">
                    <li style="margin-left: 10px;"><a data-bplayer-controls="pause" href="#"><!--<i class="fa fa-pause"></i>-->||</a></li>
                    <li style="margin-left: 10px;"><a data-bplayer-controls="resume" href="#"><i class="fa fa-play"></i></a></li>
                </ul>
            </div>

            <div id="bplayer_playlist_container"><!-- dynamic content --></div>

            <div class="controls-right">
                <ul class="actions inline-list">
                    <li class="right_"><a data-bplayer-display="toggle-history" href="#"><i class="fa fa-angle-double-up"></i></a></li>
                </ul>
            </div>

        </div>
    </div>


    <!-- close icon, show in expanded mode only -->
    <div class="actions-expanded hide">
        <ul class="no-bullet">
            <li><a data-bplayer-display="toggle-history" href="#">
                <i class="fa fa-fw fa-angle-double-down"></i></a>
            </li>
        </ul>
    </div>


    {% comment %}
    <div class="row wave">
        <div class="small-12 columns">
            <div id="levelbridge">
                <ul><!-- dynamic content --></ul>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="small-12 columns">

            <div id="bplayer_waveform_container"></div>

            <div class="progress" style="display: none;">
                <span class="meter" style="width: 0%"></span>
            </div>

            <div id="bplayer_info_container"></div>

        </div>
    </div>
    {% endcomment %}

</div>