{% load staticfiles %}

<link rel="icon" type="image/png" href="{% static 'img/artwork/icon.png' %}"/>

<link rel="apple-touch-icon" href="{% static 'img/artwork/touch-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/artwork/touch-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/artwork/touch-icon-180x180.png' %}">
<link rel="apple-touch-startup-image" href="{% static 'img/artwork/launch-1125x2436.png' %}">
<meta name="apple-mobile-web-app-title" content="Open Broadcast">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
