{% extends "app_base.html" %}
{% load cms_tags menu_tags markup thumbnail i18n sekizai_tags %}

{% block body_extra_class %}{{ block.super }} detail article blossom{% endblock %}

{% block app_content %}
    <div class="row align-center">
        <div class="small-12 medium-10 large-8 columns main-content">
            <section class="detail article">
                <div class="header" data-livefg>
                    <div class="row">
                        <div class="small-12 columns end">
                            <h1>{{ object.name }}</h1>
                            <p class="date">
                                {% trans 'published'|title %}: {{ object.publish|date:'DATETIME_FORMAT' }}
                                -
                                {% trans 'last update'|title %}: {{ object.updated|date:'DATETIME_FORMAT' }}
                            </p>

                            {% if object.teaser %}
                            <p class="teaser">{{ object.teaser|linebreaksbr }}</p>
                            {% endif %}

                        </div>
                    </div>
                </div>

                {% if object.key_image %}
                    <div class="key-image">
                        <img src="{% thumbnail object.key_image 1600x540 crop bw upscale subject_location=object.key_imagesubject_location %}">
                    </div>
                {% endif %}

                <div class="content main">
                    {% render_placeholder object.content %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
