{% load i18n sekizai_tags %}

{% if newsletter %}

    <div class="newsletter-container">
        <form action="." method="post" id="subscription_form">

            {% if newsletter.description %}
                <p>
                    {{ newsletter.description|linebreaksbr }}
                </p>
            {% endif %}

            <div class="input-group">
                <input class="input-group-field" name="email" type="email" placeholder="signup@example.com">
            </div>

            <div class="input-group">
                <input class="input-group-field" name="name" type="text" placeholder="{% trans 'Your Name' %}">
                <div class="input-group-button">
                    <a data-action="subscribe" href="#" class="button">{% trans 'Sign Up' %}</a>
                </div>
            </div>

            <div class="form-messages">

            </div>

        </form>
    </div>


    <script>

        $(function () {

            var subscription_form = $('#subscription_form');
            $(subscription_form).on('click', 'a[data-action]', function (e) {
                e.preventDefault();
                var action = $(this).data('action');
                var email = $('input[name="email"]', subscription_form).val();
                var name = $('input[name="name"]', subscription_form).val();
                var message_container = $('.form-messages', subscription_form);

                var url = '{% url 'subscription-subscribe' list_id=newsletter.id %}';

                var data = {
                    action: action,
                    name: name,
                    email: email
                };

                $.post(url, data, function (response) {

                    if (response.success) {
                        subscription_form.removeClass('error');
                        var html = '<p>' + response.message + '</p>';

                        // TODO: refactor later on. triggers event to be used with custom trackers
                        $(document).trigger('subscription', ['newsletter', 'subscribe']);

                    } else {
                        subscription_form.addClass('error');
                        var html = '<p>' + response.message + '</p>';
                    }

                    message_container.html(html);
                });
            });
        });

    </script>

{% else %}
    {% if error %}
        <span>Error: {{ error }}</span>
    {% endif %}
{% endif %}