{% extends base_template|default:"base.html" %}

{% load i18n sekizai_tags plata_tags fd5_form_tags %}

{% block title %}{% trans "Order summary" %} - {{ block.super }}{% endblock %}

{% block content %}


<section class="confirmation">

    <div class="section-header">
        <div class="row">

            <div class="small-12 column">
                <h2>{% trans "Order summary" %}</h2>
            </div>

            <div class="small-12 column">
                <div class="info">
                    <p>(( Text? ))</p>
                </div>
            </div>
        </div>
    </div>

    {% with step=3 %}
    {% include "bshop/_checkout_progress.html" %}
    {% endwith %}

    <div class="order-overview">
        {% include "bshop/_order_overview.html" %}
    </div>

    <form method="post" action=".">

        {% csrf_token %}

        <div class="row">
            <div class="small-12 columns">

                <h3>{% trans "Payment and order confirmation" %}</h3>

                <div class="row">
                    {% fd5_form_item form.payment_method %}
                </div>


                <table>
                    <tr>
                        <td class="checkbox">{% form_item_plain form.terms_and_conditions %}</td>
                        <td class="message">{{ form.terms_and_conditions.label_tag }}</td>
                    </tr>
                </table>


            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <ul class="button-group right simple bottom">
                    <li>
                        <button class="button simple small" type="submit"><i class="fa fa-credit-card"></i> {% trans "Complete Order" %}</button>
                    </li>
                </ul>
            </div>
        </div>

    </form>
</section>


{% addtoblock "js-post" %}
<script>
    $(function () {
        // kind of ugly.. set dropdown to first payment-method
        if($('#id_payment_method').val() == '') {
            $('#id_payment_method').val('cod');
        }


    })
</script>
{% endaddtoblock %}


{% endblock %}
