{% extends base_template|default:"base.html" %}

{% load url from future %}
{% load i18n plata_tags %}
{% load url from future %}

{% block title %}{% trans "Order successful" %} - {{ block.super }}{% endblock %}

{% block content %}


<section class="success">

    <div class="section-header">
        <div class="row">


            {% if not order_fix.balance_remaining %}
            <div class="small-12 column">
                <h2>{% trans "Thank you for shopping with us!" %}</h2>
            </div>
            {% else %}
            {% if order_fix.paid %}
            <div class="small-12 column">
                <h2>{% trans "Order has been partially paid." %}</h2>
            </div>
            {% else %}
            <div class="small-12 column">
                <h2>{% trans "Order has been confirmed." %}</h2>
            </div>
            {% endif %}

            <div class="small-12 column">
                <div class="info">
                    <p>{% trans "As soon as we receive a confirmation from the payment provider, you'll be sent a confirmation e-mail." %}</p>
                </div>
            </div>


            {% endif %}


        </div>
    </div>

    {% with step=4 %}
    {% include "bshop/_checkout_progress.html" %}
    {% endwith %}




    <div class="order-overview">
        {% with order=order_fix %}
        {% include "bshop/_order_overview.html" %}
        {% endwith %}
    </div>


    <div class="row">
        <div class="small-12 columns">
            <ul class="button-group right simple bottom">
                <li>
                    <a href="{% url 'wholesale-product-list' %}" class="button simple small" type="submit"><i class="fa fa-credit-card"></i> {% trans "Create new order" %}</a>
                </li>
            </ul>
        </div>
    </div>


</section>
{% endblock %}
