{% load thumbnail sekizai_tags %}
<div class="partnerlink-list-plugin">
    {% regroup objects by get_category_display as links_by_category %}
    {% comment %}<ul>{% endcomment %}
        {% for link_category in links_by_category %}
        {% comment %}<li class="partnerlink-category ">{% endcomment %}

            {% for link in link_category.list %}

                {% comment %}{% if forloop.counter0|divisibleby:4 %}
                    <div class="slide item">
                        <div class="row">
                            <div class="category small-12 columns end">
                                <span>{{ link_category.grouper }}</span>
                            </div>
                {% endif %}{% endcomment %}

                            <div class="item">
                                <a target="_blank" href="{{ link.url }}" title="{{ link.name }}">
                                    {% if link.image %}
                                        <img src="{% thumbnail link.image 190x130 %}" alt="{{ link.name }}" class="partner-logo"/>
                                    {% else %}
                                        <span>{{ link.name }}</span>
                                    {% endif %}
                                </a>
                                <span class="text-center">{{ link_category.grouper }}</span>
                            </div>

{% comment %}                {% if forloop.counter0|divisibleby:4 or forloop.last %}
                    {% if not forloop.first %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}{% endcomment %}


            {% endfor %}

            {% comment %}<ul>
                {% for link in link_category.list %}
                <li class="small-3 columns {% if forloop.last %}first{% endif %}">
                    <a target="_blank" href="{{ link.url }}" title="{{ link.name }}">
                    {% if link.image %}
                    <img src="{% thumbnail link.image 190x130 %}" alt="{{ link.name }}"/>
                    {% else %}
                    <span>{{ link.name }}</span>
                    {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>{% endcomment %}

        {% comment %}</li>{% endcomment %}
        {% endfor %}
    {% comment %}</ul>{% endcomment %}

</div>

{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}js/lib/owl.carousel.js"></script>
{% endaddtoblock %}


{% addtoblock "js-post" %}
    <script type="text/javascript">


        $('.partnerlink-list-plugin').owlCarousel({
            loop:true,
            autoplay: true,
            nav:false,
            responsiveClass:true,
            autoplayHoverPause: true,
            responsive:{
                0:{
                    items:2,
                    slideBy: 2
                },
                641:{
                    items:3,
                    slideBy: 3
                },
                1025:{
                    items:4,
                    slideBy: 4
                },
                1441:{
                    items:6,
                    slideBy: 6
                }
            }

        });



    </script>
{% endaddtoblock %}
