{% load cms_tags menu_tags i18n sekizai_tags thumbnail %}

<div class="ticker-article-list-plugin">
    <div class="article-list">
        {% for object in object_list %}

        <div class="item article hoverable{% if forloop.first %} expanded__{% endif %}"
             id="{{ object.slug }}"
             data-id="{{ object.pk }}">

            <div class="toggle" >
                <a href="#" data-toggle-item data-livebg-inverse data-livefg-inverse class="show-while-expanded">-</a>
                <a href="#" data-toggle-item data-livebg-inverse data-livefg-inverse class="hide-while-expanded">+</a>
            </div>

            <div class="row preview">

                <div class="small-12 columns">

                    <h2>
                        {% if request.user.is_staff %}
                            <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                        {% else %}
                            <a data-toggle-item href="#{{ object.slug }}">{{ object.name }}</a>
                        {% endif %}
                    </h2>


                    <p class="published">
                        {% if object.public %}
                            {{ object.publish|date:'SHORT_DATE_FORMAT' }}
                        {% else %}
                            {% trans 'Not published' %}
                        {% endif %}

                        {% if object.author %}
                            | <span>{% trans 'Autor' %}: {{ object.author.get_display_name }}</span>
                        {% endif %}

                    </p>


                    {% if object.teaser %}
                    <p class="teaser">{{ object.teaser|linebreaksbr }}</p>
                    {% endif %}


                </div>
            </div>
            <div class="row content">

                <div class="small-12 columns">

                    {% if object.key_image %}
                        <div class="key-image">
                            <img src="{% thumbnail object.key_image 1600x840 crop bw upscale subject_location=object.key_imagesubject_location %}">
                        </div>
                    {% endif %}

                    {% render_placeholder object.content %}
                </div>
            </div>


        </div>
        {% empty %}
            <div class="row">
                <div class="small-12 columns">
                    <p>{% trans 'There are currently no published articles.' %}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
