<section data-livebg id="onair_container" class="init">

    <div class="row show-for-medium-up">
        <div class="small-12 columns text-center">

            <div id="station_time">
                <a href="#">00:00:00</a>
            </div>

            <div id="back_onair" class="hide">
                <a href="#">Back to what's on air now...</a>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="small-8 small-centered medium-4 medium-uncentered medium-push-4 large-4 large-push-4 columns text-center" style="z-index: 2;">


            <div class="switch-container" data-width-to-height>

                <div class="switch-panel onair">
                    <!-- station playlist-container -->
                    <div class="info-container">
                        <div class="items">
                            <!-- dynamic content -->
                        </div>
                    </div>
                    <!-- station playlist-container -->
                </div>


                <div class="switch-panel offline">
                    <!-- station logo-container -->
                    <div class="logo-container">
                        <div class="inner">

                            <!-- action wrapper - play/pause/listen -->
                            <div class="wrapper">

                                <div class="controls hoverable">

                                    <span class="listen">
                                        <a data-onair-controls="play" href="#">Listen</a>
                                    </span>

                                    <span class="pause">
                                        <a data-onair-controls="pause" href="#">||</a>
                                    </span>

                                    <span class="loading">
                                        <a href="#">
                                            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                                        </a>
                                    </span>

                                </div>


                            </div>


                            <div class="header">
                                <span>open<br>broadcast<br>radio</span>
                            </div>

                            <div class="footer">
                                <span class="text">
                                    <em>live on</em>
                                </span>
                                <img class="logo" alt="DAB+ Logo" src="{{ STATIC_URL }}img/base/logo.dab.white.png" >
                            </div>

                        </div>
                    </div>
                    <!-- end: station logo-container -->
                </div>

            </div>


            <!-- start #rating_container -->
            <div class="rating-container disabled"
                    id="rating_container"
                    data-login-required
                    data-votes_up="0"
                    data-votes_down="0">

                    <div class="vote vote-up left">
                        <a href="#" data-vote="1">

                            <span>-</span>

                            <svg version="1.1"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px" y="0px"
                                 width="33px" height="31px"
                                 viewBox="0 0 33 31" xml:space="preserve">
                                <g>
                                    <polyline
                                            fill-opacity="0.2"
                                            stroke="#000000"
                                            stroke-miterlimit="10"
                                            points="8.5,14.5 14.5,14.5 20.5,0.5 23.5,0.5 23.5,13.5,32.5,13.5 32.5,25.5 29.5,30.5 19.5,30.5 16.5,28.5 8.5,28.5"/>
                                    <rect
                                            x="0.5" y="12.5"
                                            fill-opacity="0.2"
                                            stroke="#000000"
                                            stroke-miterlimit="10"
                                            width="8" height="18"/>
                                </g>
                            </svg>

                        </a>
                    </div>

                    <div class="separator"></div>

                    <div class="vote vote-down right">
                        <a href="#" data-vote="-1">

                            <svg version="1.1"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px" y="0px"
                                 width="33px" height="31px"
                                 viewBox="0 0 33 31" xml:space="preserve">
                                <g>
                                    <polyline
                                            fill-opacity="0.2"
                                            stroke="#000000"
                                            stroke-miterlimit="10"
                                            points="8.5,14.5 14.5,14.5 20.5,0.5 23.5,0.5 23.5,13.5,32.5,13.5 32.5,25.5 29.5,30.5 19.5,30.5 16.5,28.5 8.5,28.5"/>
                                    <rect
                                            x="0.5" y="12.5"
                                            fill-opacity="0.2"
                                            stroke="#000000"
                                            stroke-miterlimit="10"
                                            width="8" height="18"/>
                                </g>
                            </svg>

                            <span>-</span>

                        </a>
                    </div>

            </div>
            <!-- end #rating_container -->





        </div>
        <div class="small-12 medium-4 large-4 columns"  style="z-index: 1;">
            <div class="meta-container">

                <!-- loaded dynamically
                     template: onair/nj/meta.html
                -->

            </div>
        </div>
    </div>


    <div id="media_prev_next" class="show-for-large-up">

        <div class="previous disabled">
            <a href="#"
               data-direction="previous"
               title="Previous Track">
                <div class="icon">
                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px"
	                    width="40px" height="72px"
                        viewBox="0 0 40 72"
                        enable-background="new 0 0 40 72" xml:space="preserve">
                        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="37.854,71 2.927,36.073 38,1 "/>
                    </svg>
                </div>
            </a>
        </div>

        <div class="next disabled">
            <a href="#"
               data-direction="next"
               title="Next Track">
                <div class="icon">
                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px"
	                    width="40px" height="72px"
                        viewBox="0 0 40 72"
                        enable-background="new 0 0 40 72" xml:space="preserve">
                        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="3.073,71 38,36.073 2.927,1 "/>
                    </svg>
                </div>
            </a>
        </div>

    </div>


</section>