{% extends "account/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Password Recovery" %}{% endblock %}

{% block body_extra_class %}form-view auth auth-password-recover{% endblock %}

{% block app_content %}
    <div class="auth-inner">
        <div class="auth-card">
            <div class="row small-up-1">
                <div class="column">

                    <h1 class="headline">{% trans "Password Recovery" %}</h1>
                </div>

                <div class="column">

                    <form method="post" action="{{ url }}" class="form-base">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

