{% load i18n %}

<!--

    *****************************************************************
    * TEMPLATE NOT IN USE. INSTEAD USER IS REDIRECTED TO LOGIN VIEW *
    *****************************************************************

-->

{% block title %}{% trans "New Password set" %}{% endblock %}

{% block app_content %}
	<p>{% trans "Your password has successfully been reset. You can now use it on the login page." %}</p>
    <p><a href="{% url 'social:begin' 'email' %}">{% trans 'Log in' %}</a></p>
{% endblock %}
