///////////////////////////////////////////////////
// full-size screen, used in teaser block / home
///////////////////////////////////////////////////
#station_time, #back_onair
  height: 60px
  .wrapper
    display: inline
    height: 60px
    border: 2px solid #000
    padding: 8px 20px 9px
    cursor: pointer

    > input
      pointer-events: none
      width: 100px
      display: inline
      background-color: transparent
      border: none
      text-shadow: none
      box-shadow: none

    > a
      line-height: 30px

    > a, > input
      font-weight: 300
      font-size: 16px
      letter-spacing: 1px
      cursor: pointer
      text-align: center

    &.hover
      background: #000
      > a, > input
        color: #fff


// hackish station-time switch
#onair_container.history
  #station_time
    display: none
  #back_onair
    display: block !important

// fa bug:
.fa-circle-o-notch.fa-spin
  transform-origin: 48.2% 48.2%


///////////////////////////////////////////////////
// globally switches station-logo
// and history/on-air container
///////////////////////////////////////////////////
#onair_container

  overflow: hidden

  //box-shadow: 0px 2px 2px 1px rgba(51, 51, 51, 0.16)

  .switch-container
    // dynamic height via 'data-width-to-height'
    position: relative

  .switch-panel
    width: 100%
    height: 100%
    top: 0
    position: absolute
    > div, > div > div
      width: 100%
      height: 100%

// show/hide element depending on state
#onair_container

  #media_prev_next
    opacity: 0.0
    transition: opacity 5.0s

  .switch-panel
    transition: all 0.7s ease


  &.onair
    .switch-panel.offline
      //display: none
      opacity: 0.0
      pointer-events: none
    .switch-panel.onair
      //display: block
      opacity: 1.0

    #media_prev_next
      opacity: 1.0

  &.history
    .switch-panel.offline
      display: none

    #media_prev_next
      opacity: 1.0


  //
    &.offline:not(.history)
      .switch-panel.onair
        -webkit-transform: rotateY(0deg) translateX(-140px) scale(0.9)
        -webkit-filter: grayscale(1)
        filter: grayscale(100%)
      .meta-container
        display: none

  // alternative handling, see #905

  .meta-container-offline
    display: none

  &.offline:not(.history)
    .switch-panel.onair
      display: none

    .meta-container
      display: none

    .meta-container-offline
      display: block
      p
        margin-bottom: 4px
      ul > li
        a
          padding: 0
          text-decoration: underline
          &:hover
            background: transparent
        span
          opacity: 0.5

    #media_prev_next
      opacity: 0.0







#onair_container

  //background: $primary-color
  background: #efefef
  padding: 88px 0
  position: relative


  .logo-container,
  .info-container
    height: 100%
    .wrapper
      height: 100%
      width: 100%
      position: absolute

      .controls
        z-index: 9999
        width: 100%
        height: 100%
        align-items: center
        justify-content: center

        span
          display: flex
          align-items: center
          justify-content: center
          height: 100%
          width: 100%



  // 'station-logo' - visible on load and when playing 'offline'
  .logo-container
    background: #000
    position: relative
    width: 100%
    height: 100%

    //box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2)

    .inner
      // open broadcast radio text
      .header
        position: absolute
        pointer-events: none
        top: 10px
        left: 20px
        &.claim
          color: #ffffff
          text-align: left
          font-size: rem-calc(32)
          line-height: rem-calc(40)
          font-weight: normal
          p
            margin-bottom: 0

      // dab logo
      .footer
        position: absolute
        bottom: 20px
        right: 20px
        color: #FFF
        text-align: right
        .text
          position: relative
          padding-right: 10px
          opacity: 0.5
        img.logo
          width: 80px


  // actual 'playlist' display
  .info-container
    position: relative
    transition: all 10s linear

    .items
      z-index: 5
      perspective: 800px

    // slide history
    .item

      box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2)

      .container
        background-color: #000

      // action visibility
      &.current
        z-index: 5
        div[data-action]
          display: none
        &.onair
          div.listen
            display: block
        &.history
          div.play
            display: block

      &.next
        z-index: 5
        &.next-1
            transform: rotateY(0deg) translateX(1850px) scale(1.3)
        &.next-2
          transform: rotateY(0deg) translateX(1850px) scale(1.3)

        &.next-x
          transform: rotateY(0deg) translateX(1850px) scale(1.3)

        //@for $i from 4 through 24
        //  &.next-#{$i}
        //    display: none !important


      &.previous
        opacity: 0.5
        filter: grayscale(100%)

        cursor: pointer
        z-index: 0
        .back, .action
          display: none

        &:hover
          filter: grayscale(0%)

        &.previous-1
          transform: rotateY(0deg) translateX(-140px) scale(0.9)
          opacity: 0.6
          z-index: 3
        &.previous-2
          transform: rotateY(0deg) translateX(-280px) scale(0.7)
          opacity: 0.4
          z-index: 2
        &.previous-3
          transform: rotateY(0deg) translateX(-400px) scale(0.5)
          opacity: 0.1
          display: block !important
          z-index: 1
        &.previous-x
          transform: rotateY(0deg) translateX(-490px) scale(0.2)
          opacity: 0.0
          display: block !important

        @for $i from 7 through 24
          &.previous-#{$i}
            display: none !important





    .item.info
      width: 100%
      height: 100%
      position: absolute
      transition: transform 1.0s, opacity 1.0s
      transform-style: preserve-3d



      // show details, a.k.a. 'backside'
      &.details-visible
        .container > div.details
          z-index: 1
          display: block
          opacity: 1.0
        .container > div.wrapper
          display: none

      .container
        display: block
        height: 100%
        width: 100%
        position: absolute
        box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.5)
        background-size: 100% !important

        > div.image-container
          position: absolute
          top: 0
          width: 100%
          height: 100%
          img
            width: 100%
            height: 100%


        // swapable container - artist/label/etc
        > div.details
          //display: none
          z-index: -1
          opacity: 0.0
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: #000
          color: #fff
          // inner panels: artist, release, track empty-cells
          // generic styles & needed overrides
          // templates in: onair/nj/item_<ct>.html
          .ct-panel
            position: absolute
            padding: 20px
            top: 0
            left: 0
            width: 100%
            height: 100%
            overflow: hidden
            .header
              h1
                font-size: rem-calc(22)
                font-weight: 300
                color: #fff
                margin-bottom: 0
              ul > li
                font-size: rem-calc(14)
                opacity: 0.7


            .body
              margin-top: 20px
              text-align: left
              max-height: 26%
              overflow: hidden
              p
                font-size: rem-calc(14)
                line-height: 150%

            .tags
              bottom: 20px
              position: absolute
              width: 90%
              .tag
                font-size: rem-calc(12)
                text-transform: uppercase
                padding: 2px 6px
                background: #E4E4E4
                color: black
                overflow: hidden
                white-space: nowrap
                line-height: rem-calc(24)
                border-radius: 2px
                &:nth-of-type(1n+6)
                  display: none



///////////////////////////////////////////////////
// "controls" - play/pause/etc.
///////////////////////////////////////////////////

.playing #onair_container .logo-container .controls.hover span a
  color: #fff !important


#onair_container

  // global structure
  .logo-container,
  .container
    .wrapper

      .controls
        cursor: pointer
        margin: auto
        width: 100%
        height: 100%
        background-position: center
        transition: background 0.05s



        span

          transition: color 0.1s
          background-position: 50% 50%
          background-repeat: no-repeat

          > a
            color: #fff
            font-size: 30px
            font-weight: 300
            display: block

          &.listen
            background-image: url('/static/onair/img/bg.action.listen.png')
          &.play
            background-image: url('/static/onair/img/bg.action.play.png')

        &.hover
          background-size: 260px
          transition: background 0.05s
          span a
            transition: color 0.5s
            color: #fff


  // 'button' backgrounds
  .logo-container
    .controls span
      &.listen,
      &.loading
        background-image: url('/static/onair/img/bg.action.listen.png')
    .controls.hover span
      &.listen,
      &.loading
        background-image: url('/static/onair/img/bg.action.listen.white.png')
      a
        color: #000 !important

  .item.onair
    .controls span
      &.listen,
      &.loading
        background-image: url('/static/onair/img/bg.action.listen.png')
    .controls.hover span
      &.listen,
      &.loading,
      &.pause
        background-image: url('/static/onair/img/bg.action.listen.white.png')
      a
        color: #000 !important

  .item.history
    .controls span
      &.play,
      &.loading
        background-image: url('/static/onair/img/bg.action.play.png')
    .controls.hover span
      &.play,
      &.loading,
      &.pause
        background-image: url('/static/onair/img/bg.action.play.white.png')
      a
        color: #000 !important



// loading display during init
#onair_container.init:not(.offline)
  .logo-container
    .wrapper
      width: 80%
    .controls
      display: none
    .loading
      padding-top: 20px
      display: block
      p.loading-message
        span
          font-weight: 300
          font-size: rem-calc(13)
        i, span
          color: white



// controls in fallback panel
#onair_container
  .logo-container .controls
    span.pause
      display: none
    span.loading
      display: none

body.playing #onair_container
  .logo-container .controls
    span.listen
      display: none !important
    span.pause
      display: flex

body.loading #onair_container
  .logo-container .controls
    span.listen
      display: none
    span.pause
      display: none
    span.loading
      display: flex

#onair_container
  // only show controls if item has "focus"
  .item .container .controls

    // using display a.t.m.
    display: none

    span
      display: none
    span.play
      display: flex

  .item
    &.current .container .controls
      // using display a.t.m.
      //+opacity(1.0)
      display: block

    // on-air - has 'listen' instead of 'play'
    &.onair .container .controls
      span.play
        display: none !important
      span.listen
        display: flex

    // is playing - so can only be 'paused'
    // problem: playing flag stays even if the actual player is paused...
    &.playing .container .controls
      span.play
        display: none
      span.listen
        display: none
      span.pause
        display: flex

// kind of ugly overrides for 'paused' state
body.paused #onair_container
  .item
    &.onair .container .controls
      span.listen
        display: flex
      span.pause
        display: none

    &.playing .container .controls
      span.play
        display: flex
      span.pause
        display: none

// kind of ugly overrides for 'loading' state
body.loading #onair_container
  .item
    &.playing .container .controls
      span.listen
        display: none !important
      span.play
        display: none !important
      span.pause
        display: none !important
      span.loading
        display: flex !important






///////////////////////////////////////////////////
// media controls - progress/seek etc
///////////////////////////////////////////////////
#onair_container
  .item
    overflow: hidden

    .progress-container
      bottom: -20px
      position: absolute
      width: 100%
      padding: 0 10px
      transition: bottom 0.1s

      .progress
        cursor: pointer
        height: 8px
        padding: 0
        margin: 40px 0 0 0
        transition: height 0.5s
        border: none
        background-color: rgba(255, 255, 255, 0.4)
      .meter
        background-color: #ffffff
        display: block
        height: 100%
      .buffer
        display: block
        height: 1px
        //position: absolute
        bottom: 0
        background-color: #e8e8e8

    .progress-container.hover
      bottom: 20px
      .progress
        height: 24px
        background-color: rgba(0, 0, 0, 0.8)
        transition: height 0.1s
      .meter
        background-color: rgba(255, 255, 255, 0.6)
        border-right: 2px solid #fff




    &.history.current.playing
      .progress-container
        bottom: 10px

  .item:not(.playing),
  .item.details-visible
    .progress-container
      display: none

  .item.onair
    .progress-container
      display: none




///////////////////////////////////////////////////
// meta display [right column]
///////////////////////////////////////////////////
#onair_container

  .meta-container

    dl
      margin: 0
      dt, dd
        margin-bottom: 0
        line-height: 155%

      dt
        font-weight: $body-font-weight
        opacity: 0.5
        float: left
        padding-right: 7px

      dd
        a
          border-radius: 2px


  .meta-container,
  .meta-container-offline
    margin-left: 30px
    a:hover
      background: #000
      padding: 4px 8px
      color: white
    .separator
      width: 40%
      border-top-width: 2px
      border-top-style: solid
      margin: 12px 0


  ///////////////////////////////////////////////////
  // right/left sided arrows/buttons
  ///////////////////////////////////////////////////
  #media_prev_next
    div.next,
    div.previous
      z-index: 999
      position: absolute
      top: 45%
      &.disabled
        opacity: 0.3
        &:hover .icon
          cursor: not-allowed
          background: transparent !important

      .icon
        transition: background 0.1s
        background: rgba(0, 0, 0, 0.0)
        width: 120px
        height: 120px
        border-radius: 50%
        line-hrigh: 50px

      &:hover
        .icon
          //transition: background 0.1s
          //background: rgba(0, 0, 0, 1.0)


    div.previous
      left: 30px
      .icon
        padding: 24px 0 0 30px

    div.next
      right: 30px
      .icon
        padding: 24px 0 0 44px



///////////////////////////////////////////////////
// rating
///////////////////////////////////////////////////
$vote-icon-size: 33px
.rating-container
  margin: 24px auto 8px
  height: 51px
  width: 230px
  position: relative
  +clearfix()

  &.disabled
    opacity: 0.3
    div.vote, div.vote a
      cursor: not-allowed

  div.separator
    position: absolute
    left: 50%
    width: 2px
    height: 62px

  div.vote
    padding-top: 8px

    a
      display: block
      height: $vote-icon-size
      position: relative
      width: $vote-icon-size * 2

    span
      font-size: rem-calc(18)
      position: absolute
      padding: 3px
      top: 11px

    svg
      position: absolute

    &:hover
      svg
        polyline,
        rect
          fill-opacity: 0.4


    &.vote-up
      float: left
      span
        right: $vote-icon-size + 8px
      svg
        right: 0
        top: 5px

    &.vote-down
      float: right
      span
        right: 0
      svg
        transform: rotateZ(180deg)
        top: 18px
        right: $vote-icon-size

    &:hover, &:active
      a
        color: #000
      //polyline, rect
      //  fill: #fff
      //  transition: fill 0.2s




//////////////////////////////////////////////////////
// responsive overrides
//////////////////////////////////////////////////////

@include breakpoint(medium down)



@include breakpoint(medium down)
  #media_prev_next
    display: none

  .meta-container-offline
    display: none !important

  .meta-container
    margin-top: 20px

  .rating-container
    margin-top: 4px
    width: 190px
    .separator
      display: none


  .item.info.previous.history
    display: none !important

@include breakpoint(small down)
  #station_time_container
    display: none

  .meta-container
    margin-top: 8px

  .logo-container
    .claim
      font-size: 18px !important
      line-height: 24px !important

