/////////////////////////////////////////////////////////////////////////////////////////////
// cms plugin
/////////////////////////////////////////////////////////////////////////////////////////////

.program-plugin .program-list

  .emission
    border-top: 2px solid transparent
    padding: 10px 0 20px

    &__title
      display: flex
      &__time
        width: 50%
        text-align: right
        padding-right: 10px
      &__name
        padding-left: 10px
        width: 50%


    &__text
      text-align: center



.program-plugin .program-list

  .date-separator
    margin-bottom: 20px

  .item

    margin: 0 0 0
    padding: 10px 10px 20px
    border-top-width: 2px
    border-top-style: solid

    h3
      text-align: center
      margin-bottom: 20px
      .time
        padding-right: 20px

    .classification

      .header
        text-align: center
        margin: 10px 0 10px
        span
          opacity: 0.7
          padding-left: 10px
      .body
        padding: 0 10px

    .credits
      text-align: center

      span
        opacity: 0.7

      a
        text-decoration: underline
        &:hover
          opacity: 0.5
