/////////////////////////////////////////////////////////////////////////////////////////////
// cms plugin
/////////////////////////////////////////////////////////////////////////////////////////////

.program-plugin .program-list

  .header
    border-bottom: 1px solid #fff

  .header,
  .emission
    display: flex
    flex-direction: row

    &__airtime
      width: 10%
      min-width: 80px
      padding: 4px 2px

    &__title
      width: 40%
      padding: 4px 2px

    &__author
      width: 40%
      padding: 4px 2px

  @include breakpoint(small only)

    .header
      display: none

    .emission
      flex-wrap: wrap
      margin-bottom: 12px

      &__title
        flex-grow: 1
        padding: 4px 2px 0

      &__author
        margin-left: 80px
        padding: 0px 2px 0

      &__mixdown
        flex-basis: 200px
        margin-left: 80px
        padding: 6px 2px
        // display: none




