<section data-turbolinks-permanent id="achat_container">

    <div class="row">
        <div class="small-10 medium-8 large-4 small-centered columns">
            <form data-login-required>
                <div class="row collapse">
                    <div class="small-9 columns">
                        <div class="chat-message">
                            <p contenteditable="true" id="chat_input"></p>
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <a data-action="submit" href="#" class="button postfix">Talk!</a>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-4 columns">
                        <div class="text-left">
                            <small></small>
                        </div>
                    </div>
                    <div class="small-5 columns">
                        <div class="text-right">

                        </div>
                    </div>
                    <div class="small-3 columns">

                    </div>
                </div>
                <div class="row collapse">
                    <div class="warning-container"><!--dynamically loaded content --></div>
                </div>
            </form>
        </div>
    </div>

    <div class="row messages">
        <div class="small-10 small-centered columns">

            <ul class="messages-container small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                <!-- loaded dynamically -->
            </ul>

        </div>
    </div>

</section>