{% load i18n sekizai_tags fd5_form_tags %}
<div id="dialog_container" class="remotelink-dialog">

    <div class="row">

        <div class="small-12 columns">

            <div class="section-header">
                <h2>Hinweis</h2>
            </div>

            <p>
                (( Hinweis und Erklärung zur Weiterleitung auf openbroacdast _PLATTFORM_ ))
            </p>

            <div class="expanded button-group">

                <a data-remotelink-cancel class="button simple dimmed" href="#">Abbrechen</a>
                <a data-remotelink-ignore class="button simple black" href="#">OK - weiter</a>

            </div>

        </div>

    </div>

</div>

<button class="close-button" data-close aria-label="{% trans 'Schliessen' %}" type="button">
    <span aria-hidden="true">&times;</span>
</button>