{% load i18n sekizai_tags fd5_form_tags %}
<div id="dialog_container" class="remotelink-dialog">

    <div class="row">

        <div class="small-12 columns">


            <div class="section-header">
                <h2>Hinweis</h2>
            </div>


            <p>
                (( Hinweis und Erklärung zur Weiterleitung auf openbroacdast _PLATTFORM_ ))
            </p>





            <ul class="button-group even-2">
              <li><a data-remotelink-cancel class="button simple small dimmed right" href="#">Abbrechen</a></li>
              <li><a data-remotelink-ignore class="button simple small black right" href="#">OK - weiter</a></li>
            </ul>

            <!--<p>Oder Anmelden mit:</p>-->

        </div>

    </div>

</div>

<a class="close-reveal-modal">Schliessen <span>&#215;</span></a>