{% extends "registration/registration_base.html" %}
{% load i18n sekizai_tags fd5_form_tags %}

{% block app_title %}{% trans "Create new password" %}{% endblock %}

{% block app_content %}

{% if validlink %}

    <form method="post" action=".">

        {% csrf_token %}

        <div class="row">
            {% fd5_form_item form.new_password1 "small-12 medium-6" %}
            {% fd5_form_item form.new_password2 "small-12 medium-6" %}
        </div>

        <div class="row">
            <div class="small-12 columns">
                <ul class="button-group clearfix simple bottom">
                    <li class="right">
                        <button class="button simple small" type="submit"><i class="fa fa-floppy-o"></i> {% trans 'Submit' %}</button>
                    </li>
                </ul>
            </div>
        </div>


    </form>

{% else %}

    <p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
