{% extends "app_base.html" %}
{% load cms_tags menu_tags i18n sekizai_tags %}

{% block body_extra_class %}app registration{% endblock %}


{% block main_content %}
    <section class="content-container app">
        <div class="row">
            <div class="small-12 medium-12 columns">
                <section class="registration">

                    <div class="section-header">
                        <div class="row">

                            <div class="small-12 column">
                                <h2>{% block app_title %}{% endblock %}</h2>
                            </div>
                         </div>

                    </div>
                    {% block app_extra %}{% endblock %}



                    <div class="section-body">
                        <div class="row">
                            <div class="small-12 columns">
                                {% block app_content %}{% endblock %}
                            </div>
                            <!--
                            <div class="small-4 columns">
                                (( sidebar ))
                            </div>
                            -->
                        </div>
                    </div>

                </section>
            </div>
        </div>

    </section>
{% endblock %}




