.fixed.fixed
  box-shadow: 2px 2px 3px 1px rgba(51, 51, 51, 0.16)

#bplayer_full
  box-shadow: 2px 2px 3px 1px rgba(51, 51, 51, 0.16)

#bplayer_container
  box-shadow: -2px -2px 3px 1px rgba(51, 51, 51, 0.16)