{% extends "base.html" %}


{% block body_extra_class %}cms-base{% endblock %}

{% block title %}{% endblock %}
{% block top-bar %}{% endblock %}

{% block container %}
<div class="container error-container" id="content_base">

    <div class="content-container" data-livebg="" id="page_content_container">

        <div class="row text-center">
            <div class="small-12 medium-8 medium-offset-2 columns main-content" data-livefg>

                {% block content %}{% endblock %}

                <div id="suggestions" class="">
                    <a href="mailto:info@openbroadcast.ch">Contact Support</a> &mdash;
                    <a href="https://lab.hazelfire.com/projects/openbroadcast-ch/issues/new">Issue Tracker</a>
                </div>

            </div>
        </div>

    </div>

</div>

    <script>
        $(function(){
           $('a').setAttribute('data-no-turbolink', '1');
        });
    </script>

{% endblock %}

