{% extends "app_base.html" %}

{% load webdesign %}


{% block content %}

<section class="teaser">

    <div class="row">
        <div class="small-12 columns">
            <h1>{% lorem 3 w %}</h1>
            <p>kjh</p>

        </div>
    </div>

</section>

<section class="stories">

   <div class="listing stories">

       <div class="item story">
            <h1>lkj</h1>
            <p>{% lorem 1 p %}</p>


       </div>

       <div class="item story featured">
            <h1>lkj</h1>
            <p>{% lorem 1 p %}</p>
       </div>

   </div>

</section>

{% endblock %}




