{% load menu_tags i18n  %}


{% if user.is_authenticated  %}

    <li class="menu-item">
        <a href="#">{% firstof user.get_display_name %}</a>
        <ul class="submenu">
            {% if user.is_staff %}

                {% if not cms_toolbar_disabled %}
                    <li class="menu-item ">
                        <a data-turbolinks="false" href="?toolbar_off">{% trans 'Hide Toolbar' %}</a>
                    </li>
                {% else %}
                    <li class="menu-item ">
                        <a data-turbolinks="false" href="?edit">{% trans 'Show Toolbar' %}</a>
                    </li>
                {% endif %}

                <li class="menu-item ">
                    <a data-turbolinks="false" target="_blank" href="/admin/">{% trans 'Administration' %}</a>
                </li>

            {% endif %}

            <!--
            <li class="menu-item ">
                <a data-turbolinks="false" href="#" data-account-profile>{% trans 'profile & settings'|capfirst %}</a>
            </li>
            -->
            <li class="menu-item ">
                <a data-livefg href="{% url 'account:logout' %}" data-account-logout>{% trans 'logout'|capfirst %}</a>
            </li>
        </ul>
    </li>

{% else %}
    <li class="menu-item">
        <a data-account-login-required data-livefg href="#" data-login-action="login">{% trans 'login'|capfirst %}</a>
    </li>
    <li class="menu-item hide-for-medium-only">
        <a data-account-login-required data-livefg href="#" data-login-action="register">{% trans 'register'|capfirst %}</a>
    </li>
{% endif %}
