{% load i18n %}
<footer id="footer" class="footer-container">

    <div class="footer">
        <div class="footer-social">
            <div class="footer-social__item">
                <div class="social-profile">
                    <a href="https://www.facebook.com/OpenBroadcast/"
                       target="_blank"
                       class="social-profile__link"
                       title="{% trans 'Visit us on Facebook' %}">
                        <div class="fa fa-facebook fa-2x"></div>
                    </a>
                </div>
            </div>
            <div class="footer-social__item">
                <div class="social-profile">
                    <a href="https://twitter.com/openbroadcast"
                       target="_blank"
                       class="social-profile__link"
                       title="@Digrisag">
                        <div class="fa fa-twitter fa-2x"></div>
                    </a>
                </div>
            </div>
        </div>


    </div>



    <!--
    <div class="row">
        <div class="small-12 medium-10 medium-offset-1 columns">
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <p class="title">{% trans 'Address' %}</p>
                    <p class="address">
                        openbroadcast.ch ©{% now "Y" %}<br>
                        Renggerstrasse 31<br>
                        8038 Zürich<br>
                        A plattform by <a href="http://www.digris.ch/">Digris AG</a>
                    </p>
                </div>
                <div class="small-12 medium-4 columns">
                    <p class="title">{% trans 'Quicklinks' %}</p>
                    <dl class="contact">
                       <dt>{% trans 'Contact' %}</dt>
                       <dd><a href="mailto:info@openbroadcast.ch">info@openbroadcast.ch</a></dd>
                    </dl>
                </div>
                <div class="small-12 medium-4 columns">
                    {% comment %}
                    <p class="title">{% trans 'Newsletter' %}</p>
                    {% subscription_form %}
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    -->

</footer>
