{% load i18n %}
<footer id="footer" class="footer-container">

    <div class="footer">
        <div class="footer-social">
            <div class="footer-social__item">
                <div class="social-profile">
                    <a href="https://www.facebook.com/OpenBroadcast/"
                       target="_blank"
                       class="social-profile__link"
                       title="{% trans 'Visit us on Facebook' %}">
                        <div class="fa fa-facebook fa-2x"></div>
                    </a>
                </div>
            </div>
            <!--
            <div class="footer-social__item">
                <div class="social-profile">
                    <a href="https://twitter.com/openbroadcast"
                       target="_blank"
                       class="social-profile__link"
                       title="@Digrisag">
                        <div class="fa fa-twitter fa-2x"></div>
                    </a>
                </div>
            </div>
            -->
        </div>
    </div>
</footer>
