{% load menu_tags string_tags %}


{% for child in children %}
<li class="menu-item {% if child.selected %} selected{% endif %} {% if child.ancestor %} ancestor{% endif %}{% if child.parent %} has-parent{% endif %}">
	<a
        {% if child.attr.redirect_url and child.attr.redirect_url|startswith:'http' %}target="_blank" {% endif %}
        href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
        {{ child.get_menu_title }}
    </a>
	{% if child.children %}
    <ul class="submenu">
        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
    </ul>
    {% endif %}
</li>
{% endfor %}
