{% load i18n  %}

<div class="checkout-progress">
    <div class="row">

        <div class="small-3 columns">
            <div class="{% if step == 1 %} active{% endif %}{% if step > 1 %} completed{% endif %}">
                <span>1.</span>
                {% if step > 1 and step < 4 %}
                    <a href="{% url 'plata_shop_cart' %}">{% trans "Cart" %}</a>
                {% else %}
                    {% trans "Cart" %}
                {% endif %}
                <i class="fa fa-check"></i></div>
        </div>

        <div class="small-3 columns">
            <div class="{% if step == 2 %} active{% endif %}{% if step > 2 %} completed{% endif %}">
                <span>2.</span>
                {% if step > 2 and step < 4 %}
                    <a href="{% url 'plata_shop_checkout' %}">{% trans "Contact" %}</a>
                {% else %}
                    {% trans "Contact" %}
                {% endif %}
                <i class="fa fa-check"></i></div>
        </div>

        <div class="small-3 columns">
            <div class="{% if step == 3 %} active{% endif %}{% if step > 3 %} completed{% endif %}">
                <span>3.</span> {% trans "Payment" %} <i class="fa fa-check"></i></div>
        </div>

        <div class="small-3 columns">
            <div class="{% if step == 4 %} active{% endif %}{% if step >= 4 %} completed{% endif %}">
                <span>4.</span> {% trans "Confirmation" %} <i class="fa fa-check"></i></div>
        </div>

    </div>


</div>

