{% extends "bshop/contact_base.html" %}
{% load cms_tags menu_tags i18n plata_tags sekizai_tags fd5_form_tags %}

{% block title %}{% trans "Contact" %} - {{ block.super }}{% endblock %}

{% block body_extra_class %}bshop accounts{% endblock %}


{% block content %}
<section class="account">

    <div class="section-header">
        <div class="row">

            <div class="small-12 column">
                {% if object.company %}
                <h2>{{ object.company }}</h2>
                {% else %}
                <h2>{% firstof object.user.name object.user.email %}</h2>
                {% endif %}
            </div>
        </div>
    </div>

<div class="row">
    <div class="small-12 columns">

    <form method="post" action=".">

        {% csrf_token %}
        <input type="hidden" name="_checkout" value="1"/>


        <!-- -->
        <div class="row">
            <div class="small-12 columns">
                {% form_errors form %}
            </div>
        </div>


        <div class="row">
            <div class="small-12 medium-6 columns">

                <div class="address-header">
                    <h3>{% trans "Billing address" %}</h3>

                    <table>
                        <tr>
                            <td><i class="fa fa-lock"></i> Passwort <a href="{% url 'password_change' %}">ändern</a>.</td>
                        </tr>
                    </table>


                </div>

                <div class="row">
                    {% fd5_form_item form.billing_company %}
                    {% fd5_form_item form.billing_name %}
                    {% fd5_form_item form.billing_phone "small-6" %}
                    {% fd5_form_item form.billing_fax "small-6" %}
                    {# fd5_form_item form.email #}
                    {% fd5_form_item form.tax_id %}

                </div>


                <div class="row">
                    {% fd5_form_item form.billing_address "address-ta" %}
                    {% fd5_form_item form.billing_zip_code "small-4" %}
                    {% fd5_form_item form.billing_city "small-8" %}
                    {% fd5_form_item form.billing_country %}
                </div>

            </div>
            <div class="small-12 medium-6 columns">


                <div class="address-header">
                    <h3>{% trans "Shipping address" %}</h3>


                    <table>
                        <tr>
                            <td class="checkbox">{% form_item_plain form.shipping_same_as_billing %}</td>
                            <td class="message">{{ form.shipping_same_as_billing.label_tag }}</td>
                        </tr>
                    </table>

                </div>


                <div class="row">
                    {% fd5_form_item form.shipping_company %}
                    {% fd5_form_item form.shipping_name %}
                    {% fd5_form_item form.shipping_phone "small-6" %}
                    {% fd5_form_item form.shipping_fax "small-6" %}
                    <div class="small-12 columns email-placeholder">*</div>
                </div>



                <div class="row">
                    {% fd5_form_item form.shipping_address "address-ta" %}
                    {% fd5_form_item form.shipping_zip_code "small-4" %}
                    {% fd5_form_item form.shipping_city "small-8" %}
                    {% fd5_form_item form.shipping_country %}
                </div>


            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">

                <h3>{% trans "More" %}</h3>

                <div class="row">
                    {% fd5_form_item form.notes "notes-ta" %}
                </div>



                <div class="row">
                    {% fd5_form_item form.user "small-6" %}
                </div>

            </div>
        </div>






        <div class="row">
            <div class="small-12 columns">
                <ul class="button-group right simple bottom">
                    <li>
                        <a href="{% url 'bshop-contact-detail' %}" class="button simple small right"><i class="fa fa-angle-double-left"></i> {% trans " Back to Contact details" %}</a>
                    </li>
                    <li>
                        <button class="button simple small" type="submit"><i class="fa fa-floppy-o"></i> {% trans "Save" %}</button>
                    </li>
                </ul>
            </div>
        </div>


    </form>

    </div>




</div>



</section>



{% endblock %}