{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block inner_content %}



  {% include 'registration/form_errors.html' %}
  <form id="registration_form" method="post" class="ajax form-base form-invers" action="{% url "django.contrib.auth.views.login" %}">{% csrf_token %}
    {% include 'registration/form_fields.html' %}

    <p><a href="{% url "auth_password_reset" %}">Forgot</a> your password?  <a href="{% url "registration_register" %}">Need an account</a>?</p>
        <button type="submit" class="button tiny" >
        <i class="fa fa-sign-in"></i> {% trans "Login" %}
        </button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>


{% endblock %}

{% block sidebar %}
    {% include "registration/_social_auth.html" %}
{% endblock %}
