{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Create Account" %}{% endblock %}
{% block inner_content %}
    {% include 'registration/form_errors.html' %}
    <form method='post' class="ajax form-base form-invers" action='' xmlns="http://www.w3.org/1999/html">{% csrf_token %}
        {% include 'registration/form_fields.html' %}

        <button type="submit" class="button tiny" >
        <i class="fa fa-plus-square"></i> {% trans "Register" %}
        </button>
    </form>

{% endblock %}


{% block sidebar %}
    {% include "registration/_social_auth.html" %}
{% endblock %}
