body
  overflow-y: scroll
  overflow-x: hidden

#achat_container
  background: #fff
  //min-height: 1000px
  form
    margin: 20px 0
    &.focus

    // this is a contenteditable, treat as form input
    div.chat-message
      p
        border: 1px solid #999
        padding: 2px 4px
        margin: 0
        &:focus
          border: 1px solid #000
          padding: 2px 4px
          outline-color: transparent
          outline-style: none

        a, span
          &[data-ct]
            background: rgba(0, 0, 0, 0.07)
            font-style: italic
          padding: 2px 4px

    .button
      margin: 0
      background: #999
      height: 30px
      color: #FFF
      padding-left: 10px
      > span
        border-left: none

    ul.f-dropdown
      border: none
      background-color: #fff
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.40)
      li > a
        padding: 6px 12px
        color: #000
        &:hover
          color: #000
          border-right: 4px solid #000

    &.focus .button
      background: #000


  .messages

    padding: 5px 0
    font-weight: $body-font-weight
    p
      font-weight: $body-font-weight
      margin-bottom: 0
      word-wrap: break-word
    
    
    .item.message
      margin-bottom: 20px
      +single-transition(opacity, 2.0s)
      &.new
        +opacity(0.0)
        +single-transition(opacity, 1.0s)

      .body
        padding: 10px
        background: #efefef
        font-style: italic
        position: relative

        &:after
          content: ''
          position: absolute
          top: 100%
          left: 0
          right: 0
          margin: 0 auto
          width: 0
          height: 0
          border-top: solid 9px #efefef
          border-left: solid 9px transparent
          border-right: solid 9px transparent

      .author
        margin-top: 12px
        font-size: 80%
        +opacity(0.5)

    // type dependant styles
    .item.message
      &.me
        .body
          //background: #000
          //color: #fff

          &:after
            //border-top: solid 9px #000

      &.exclamation
        .body
          //background: #ff4600
          //color: #fff
          text-transform: uppercase

          &:after
            //border-top: solid 9px #ff4600

      &.question
        .body
          position: relative
          //min-height: 54px
          p
            //padding-right: 36px
          .question-mark
            position: absolute
            display: block
            right: 10px
            top: 2px
            span
              font-size: rem-calc(28)
              font-weight: bold



