/////////////////////////////////////////////////////////////////////////////////
// registration / alogin
/////////////////////////////////////////////////////////////////////////////////
#dialog_container
  padding-bottom: 40px
  .section-header
    margin-bottom: 20px


  form
    ul.errorlist
      list-style-type: none
      margin: 2px 0 4px 0
      padding: 0 0 0 0
      color: $alert-color
      font-style: italic


//////////////////////////////////////////////////////
// responsive overrides
//////////////////////////////////////////////////////
@media #{$small-only}
  .reveal-modal,
  #reveal_container
    position: fixed
    top: 0
    height: 50vh
    overflow-y: scroll