/////////////////////////////////////////////////////////////////////////////////
// registration / alogin
/////////////////////////////////////////////////////////////////////////////////
#dialog_container
  &.alogin-dialog
    padding-bottom: 40px
    .section-header
      margin-bottom: 20px


    form
      ul.errorlist
        list-style-type: none
        margin: 2px 0 4px 0
        padding: 0 0 0 0
        color: $alert-color
        font-style: italic


  .social-auth
    .service
      padding: 6px
      margin: 0 0 12px
      background: rgba(0,0,0,0.1)


//////////////////////////////////////////////////////
// responsive overrides
//////////////////////////////////////////////////////
