// positioning
$bplayer-hight-compact: 44px
$bplayer-bottom-hidden: -$bplayer-hight-compact
$bplayer-bottom-compact: 0px
$bplayer-bottom-expanded: 0px


//body.no-scroll
//  overflow: hidden



#bplayer_container

  z-index: 100

  position: fixed
  width: 100%

  bottom: $bplayer-bottom-hidden

  padding-top: 4px
  padding-bottom: 0

  .actions
    margin: 0
    [data-bplayer-controls="pause"]
      display: none
    a
      display: block
      padding-top: 4px
      color: #fff
      i
        font-size: 20px

    &.left
      padding-left: 6px

    &.right
      padding-right: 2px
      text-align: right

    .totals
      color: #fff

  .information ul
    margin-bottom: 0
    color: #fff

  // small version, no waveform
  .progress
    @include progress-container()
    border: none
    padding: 0
    margin: 0 12px 0

  // large version, incl. waveform
  .playhead .background
    background-color: $secondary-color
    transition: background-color 0.2s


  .playhead .indicator
    background: url('/static/bplayer/img/playhead.indicator.png')
    background-repeat: repeat-y

  .playhead .loading
    //background: none
    background: url('/static/bplayer/img/playhead.loading.png')
    background-repeat: no-repeat
    background-position-y: bottom
    background-size: 2000px 4px


  .playhead .waveform
    height: 60px
    transition: height 0.1s
    > img
      max-height: 60px
      opacity: 1.0
      transition: opacity 0.1s

  // remove image for compact player
  &.style-compact .playhead .waveform
    height: 20px
    transition: height 0.2s
    > img
      opacity: 0.0
      transition: height 0.2s

  // hm... ?
  &.ready, &.init
    bottom: $bplayer-bottom-hidden
    //display: none
    .playhead .waveform
      height: 0px
      transition: height 0.2s

  // state dependant styles
  &.paused
    bottom: $bplayer-bottom-compact
    transition: bottom 0.2s

  &.playing, &.loading
    bottom: $bplayer-bottom-compact
    transition: bottom 0.2s

    // hide actions
    .actions
      [data-bplayer-controls="resume"]
        display: none
      [data-bplayer-controls="pause"]
        display: inline

    .playhead .background
      background-color: $primary-color
      transition: background-color 0.1s

  // playlist container
  //#bplayer_playlist_container,
  .playlist
    height: auto
    width: 664px
    float: left

  .controls-left
    width: 30px
    float: left
    padding: 0 0 0 7px

  .controls-right
    width: 35px
    float: right


////////////////////////////////////////////////////////////////
// controls for playlist items
////////////////////////////////////////////////////////////////
#bplayer_container
  .playlist
    .item
      .controls .pause
        display: none
    .item.playing
      .controls .play
        display: none
      .controls .pause
        display: inline



// kind of ugly overrides for 'paused' state
body.paused #bplayer_container
  .playlist
    .item.playing
      .controls .play
        display: inline
      .controls .pause
        display: none



// history mode switch
#bplayer_container

  background-color: rgba(0, 0, 0, 0)
  transition: background-color 0.5s

  .base
    background: #000
    padding: 6px 10px 6px
    box-shadow: 0px -1px 3px 1px rgba(51, 51, 51, 0.16)
    width: 760px

  .wave
    background: #000

  &.show-history
    box-shadow: -2px -2px 3px 1px rgba(51, 51, 51, 0.16)
    background-color: rgba(0, 0, 0, 255)
    transition: background-color 0.5s

    .playlist
      height: auto
      max-height: 300px
      overflow-y: auto
      width: auto
      float: none




    .base
      width: auto
      background: none
      padding: 0
      box-shadow: none

    // playlist display
    section.playlist.history
      &.compact
        display: none
      &.expanded
        display: block

    // actions display
    .controls-left
      display: none
    .controls-right
      display: none

    .actions-expanded
      position: absolute
      right: 0
      top: 0
      padding: 6px 6px 0 0
      a
        font-size: 36px
        color: white






  // history styles
  section.playlist.history.compact
    max-height: 26px
    .item
      display: none
      padding: 3px 0 0 0
      a, span
        color: white
      span
        opacity: 0.5
    .item
      &.playing
        display: block

  section.playlist.history.expanded
    .header
      padding: 4px 0
      margin: 4px 0
      opacity: 0.7
      color: #fff
    .item
      color: rgba(255, 255, 255, 0.5)
      //display: block
      padding: 4px 0 1px
      margin: 4px 0
      border-top: 2px solid rgba(255, 255, 255, 0.4)

      &.hover
        color: #fff
      &.playing
        //font-style: italic
        color: #fff

      &.hover,
      &.playing
        .col-action a
          color: #fff

  section.playlist.history.expanded
    width: 83%
    margin: 0 auto 20px

    .col-airtime
      flex: 0 1 90px

    .col-action
      flex: 0 1 30px
      a
        color: rgba(255, 255, 255, 0.5)


    .col-name

    .col-artist

    // price & buy are not available yet - just here for the future
    // using 34% together
    .col-price
      flex: 0 1 80px
      .price
        color: #ffffff
      .increase-step
        font-size: rem-calc(12)
        color: rgba(255, 255, 255, 0.8)
      .increase-time
        font-size: rem-calc(12)
        color: #F00
    .col-buy
      flex: 0 1 80px
      a
        display: block
        background: orangered
        color: white
        text-align: center
        border: 1px solid white
        border-radius: 2px




// browser specific hacks
#bplayer_container
  ::-webkit-scrollbar
      width: 4px
      background: transparent

  ::-webkit-scrollbar-thumb
      background: #999