// global cms container
.content-container.cms
  //background: #ffff00
  // background handled through 'livebg'


.cmsplugin_holder
  max-width: 740px
  margin: 16px auto
  font-weight: 300


  // TODO: eventually move to separate "ticker" sheet
  .article
    padding: 4px 4px 16px
    border-bottom: 2px solid #000
    position: relative
    padding-top: 16px

    &:first-child
      border-top: 2px solid #000
      margin-top: 54px

    p
      text-indent: 30px

      a
        //text-decoration: underline
        border-bottom: 1px dotted black
        &:hover
          border-bottom: 1px solid black

      &.published
        font-size: rem-calc(12)
        margin-bottom: 0


    .content
      display: none

    .show-while-expanded
      display: none !important
    .hide-while-expanded
      display: block

    &.hover:not(.expanded)
      cursor: pointer
      background-color: rgba(0, 0, 0, 0.1)

    &.expanded

      .show-while-expanded
        display: block !important
      .hide-while-expanded
        display: none

      .content
        display: block


    .toggle
      z-index: 999
      position: absolute
      right: 4px
      top: 22px
      > a
        width: 30px
        height: 30px
        border-radius: 15px
        color: white
        background: black
        display: block
        text-align: center
        line-height: 27px
        font-size: 20px
        padding-left: 2px





  // text styling
.main-content > .textplugin_holder
  max-width: 740px
  margin: 16px auto
  font-weight: 300

  padding: 4px 0 16px
  border-bottom: 2px solid #000

  &:first-child
    border-top: 2px solid #000
    padding-top: 16px
    margin-top: 54px

  p
    text-indent: 30px


@media #{$small-only}

  .cmsplugin_holder

    border-top: none !important
    padding: 0 20px
    margin: 16px auto
    font-weight: 300

    h1, h2, h3
      text-align: center
      font-size: rem-calc(18)

    p
      text-indent: 0px

