// text styling

.cmsplugin_holder

  margin-bottom: 14px
  padding-bottom: 14px

  border-bottom: 1px solid $grey-light
  &:last-child, &:first-child
    border-bottom: none


  h1, h2, h3, h4, h5, h6
    color: $grey-dark

    &.highlight
      color: $primary-color

  h1.highlight
    margin-top: 70px
    font-size: rem-calc(50)

  p
    max-width: 720px
    padding: 0 0 12px 0

    &.unpadded
      padding: 0
      margin: 0

  blockquote
    margin: 16px 0
    padding: 0 16px 0 16px
    border-left-width: 4px
    p
      padding: 0
      margin: 0