{% set item = object.item.release %}
{% if item %}
    <div data-ct="release" class="ct-panel">

        <div class="row header">

            {% if item.main_image %}
            <div class="small-6 columns">
                <img src="{{ base_url }}{{ item.main_image }}">
            </div>
            {% endif %}

            <div class="{% if item.main_image %}small-6{% else %}small-12{% endif %} columns">
                <div class="text-left">
                    <h1>{{ item.name|truncate(32) }}</h1>
                    <ul class="no-bullet">
                        {% if item.releasetype or item.country %}
                        <li>
                            {% if item.country %}
                                {{ item.country }}
                            {% endif %}
                            {% if item.releasetype %}
                                {{ item.releasetype|capitalize }}
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if item.releasedate_approx %}
                        <li>
                            {{ item.releasedate_approx }}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>

        <div class="row body show-for-large-up">
            <div class="small-12 columns">
                {% if item.description %}
                <p>
                    {{ item.description|truncate(240) }}
                </p>
                {% endif %}
            </div>
        </div>

        {% if item.tags %}
        <div class="row tags text-left">
            <div class="small-12 columns">
                {% for tag in item.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
{% endif %}