{% set item = object.item.label %}

{% if item %}
    <div data-ct="label" class="ct-panel">

        <div class="row header">
            <div class="small-6 columns">
                {% if item.main_image %}
                <img src="{{ base_url }}{{ item.main_image }}">
                {% else %}
                <span>*</span>
                {% endif %}
            </div>
            <div class="small-6 columns">
                <div class="text-left">
                    <h1>{{ item.name|truncate(24) }}</h1>
                    <ul class="no-bullet">
                        {% if item.releasetype or item.country %}
                        <li>
                            {% if item.country %}
                                ({{ item.country }})
                            {% endif %}
                            {% if item.releasetype %}
                                {{ item.releasetype|capitalize }}
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if item.releasedate_approx %}
                        <li>
                            {{ item.releasedate_approx }}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row body">
            <div class="small-12 columns">
                {% if item.description %}
                <p>
                    {{ item.description|truncate(240) }}
                </p>
                {% endif %}


                {% if debug %}
                <p>
                    <a href="{{ item.resource_uri }}">{{ item.resource_uri }}</a>
                </p>
                <p>
                    <a href="{{ object.item.resource_uri }}">{{ object.item.resource_uri }}</a>
                </p>
                {% endif %}

            </div>
        </div>

        {% if item.tags %}
        <div class="row tags text-left">
            <div class="small-12 columns">
                {% for tag in item.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
{% endif %}