<!-- loaded dynamically to: #onair_container > .items -->


<!-- item in this context: "track" - active or history -->
<div
    class="item info {{ extra_classes }}"
    id="{{ dom_id }}"
    data-time_start="{{ object.time_start }}"
    data-uuid="{{ object.item.uuid }}"
    data-onair="{{ object.onair }}"
    data-index="{{ index }}">

    <!-- base container - media -->
    <div class="container"
         {% if object.item and object.item.release and object.item.release.main_image %}
         style="background: url({{ base_url }}{{ object.item.release.main_image }});">
         {% else %}
         style="background: #000;">
         {% endif %}

        <!-- swapable container - artist/label/etc -->
        <div class="details">
            {% include "onair/nj/item_playlist.html" %}
            {% include "onair/nj/item_author.html" %}
            {% include "onair/nj/item_media.html" %}
            {% include "onair/nj/item_artist.html" %}
            {% include "onair/nj/item_release.html" %}
            {% include "onair/nj/item_label.html" %}
        </div>

        <!-- action wrapper - play/pause/listen -->
        <div class="wrapper">

            <div class="controls hoverable">

                <span class="play">
                    <a href="#" data-login-required data-onair-controls="play">Play</a>
                </span>

                <span class="listen">
                    <a data-onair-controls="play" href="#">Listen</a>
                </span>

                <span class="pause">
                    <a data-onair-controls="pause" href="#"><i class="fa fa-pause"></i></a>
                </span>

                <span class="loading">
                    <a href="#">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                    </a>
                </span>

            </div>


        </div>




        <!-- levelbridge live-data -->
        <div class="level-container">
            <ul class="level"></ul>
        </div>





        <div class="progress-container hoverable">
            <div class="progress">
              <span class="meter" style="width: 0%"></span>
              <span class="buffer" style="width: 0%"></span>
            </div>
        </div>






    </div>

</div>
<!-- item end -->