<!-- item in this context: "track" - active or history -->
<div
    class="item info {{ extra_classes }}"
    id="{{ dom_id }}">

    <!-- base container - media -->
    <div class="container"
         {% if object.item and object.item.release and object.item.release.main_image %}
         style="background: url({{ base_url }}{{ object.item.release.main_image }});">
         {% else %}
         style="background: #000;">
         {% endif %}

        <!-- swapable container - artist/label/etc -->
        <div class="details">
            {% include "onair/nj/item_playlist.html" %}
            {% include "onair/nj/item_media.html" %}
            {% include "onair/nj/item_artist.html" %}
            {% include "onair/nj/item_release.html" %}
        </div>

        <!-- action wrapper - play/pause/listen -->
        <div class="wrapper">

            <div data-action="listen" class="action listen hoverable">

                <span class="listen">
                    <a data-bplayer-controls="listen" href="#" data-action="listen">Listen</a>
                </span>

                <span class="pause">
                    <a data-bplayer-controls="pause" href="#" data-action="pause">||</a>
                </span>

                <span class="loading">
                    <a href="#">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                    </a>
                </span>

            </div>

            <div data-action="play" class="action play hoverable">

                <span class="play">
                    <a href="#" data-login-required data-action="play">Play</a>
                </span>

                <span class="pause">
                    <a href="#" data-action="pause">||</a>
                </span>

                <span class="loading">
                    <a href="#">**</a>
                </span>

            </div>



        </div>


    </div>

</div>
<!-- item end -->