<!-- TODO: implement better responsive/mobile handling -->



<div class="show-for-small-only">
    <!-- track related -->
    <p class="text-center">
        <a target="_blank" data-ct="artist"
           href="{{ base_url }}{{ object.item.artist.absolute_url }}">
            {{ object.item.artist.name|shorten(30) }}
        </a>
        <br>
        <a target="_blank" data-ct="media"
           href="{{ base_url }}{{ object.item.absolute_url }}">
            {{ object.item.name|shorten(30) }}
        </a>
    </p>

</div>



<div class="show-for-medium-up">
    <!-- playlist related -->
    <dl>
        <dt>Playlist</dt>
        <dd>
            <a target="_blank" data-ct="playlist"
               href="{{ base_url }}{{ object.emission.content_object.absolute_url }}"
               title="{{ object.emission.content_object.name }}">
                {{ object.emission.content_object.name|truncate(32) }}&nbsp;
            </a>
        </dd>

        <dt>by</dt>
        <dd>
            <a target="_blank" data-ct="author"
               href="{{ base_url }}{{ object.emission.user_co.absolute_url }}">
                {% if object.emission.user_co.full_name %}
                    {{ object.emission.user_co.full_name|truncate(32) }} ({{ object.emission.user_co.username }})
                {% else %}
                    {{ object.emission.user_co.username }}
                {% endif %}&nbsp;
            </a>
        </dd>

        <dt>Airtime</dt>
        <dd>
            <span>{{ object.time_start|format_datetime('time_s') }}</span>
            {% if not object.onair or 1 == 1 %}
            -
            <span>{{ object.time_end|format_datetime('time_s') }}</span>
            {% endif %}
        </dd>
    </dl>

    <div class="separator"></div>

    <!-- track related -->
    <dl>
        <dt>Song</dt>
        <dd>
            <a target="_blank" data-ct="media"
               href="{{ base_url }}{{ object.item.absolute_url }}"
               title="{{ object.item.name }}">
                {{ object.item.name|truncate(32) }}&nbsp;
            </a>
        </dd>

        <dt>by</dt>
        <dd>
            <a target="_blank" data-ct="artist"
               href="{{ base_url }}{{ object.item.artist.absolute_url }}"
               title="{{ object.item.artist.name }}">
                {{ object.item.artist.name|truncate(32) }}&nbsp;
            </a>
        </dd>

        <dt>Release</dt>
        <dd>
            <a target="_blank" data-ct="release"
               href="{{ base_url }}{{ object.item.release.absolute_url }}"
               title="{{ object.item.release.name }}">
                {{ object.item.release.name|truncate(22) }}

                {% if object.item.release.country_code %}{{ object.item.release.country_code }}{% endif %}
                {% if object.item.release.releasedate %}{{ object.item.release.releasedate|truncate(4, false, '') }}{% endif %}

                &nbsp;
            </a>
        </dd>

        <dt>Label</dt>
        <dd>
            <a target="_blank" data-ct="label"
               href="{{ base_url }}{{ object.item.label.absolute_url }}">
                {{ object.item.label.name }}&nbsp;
            </a>
        </dd>

    </dl>


    <div class="separator"></div>
</div>



