<!-- TODO: implement better responsive/mobile handling -->



<div class="show-for-small-only" data-livefg>
    <!-- track related -->
    <p class="text-center">
        {{ object.item.artist.name|shorten(30) }}
        <br>
        {{ object.item.name|shorten(30) }}
    </p>

</div>



<div class="show-for-large" data-livefg>
    <!-- playlist related -->
    <dl>
        <dt>Playlist</dt>
        <dd>
            <a target="_blank" data-ct="playlist" data-livefg
               href="{{ base_url }}{{ object.emission.content_object.absolute_url }}"
               title="{{ object.emission.content_object.name }}">
                {{ object.emission.content_object.name|truncate(32) }}&nbsp;
            </a>
        </dd>

        <dt>by</dt>
        <dd>
            <a target="_blank" data-ct="author" data-livefg
               href="{{ base_url }}{{ object.emission.user_co.absolute_url }}">


                {{ object.emission.user_co.display_name|truncate(32) }}
                <!--
                {% if object.emission.user_co.full_name %}
                    {{ object.emission.user_co.full_name|truncate(32) }} ({{ object.emission.user_co.username }})
                {% else %}
                    {{ object.emission.user_co.username }}
                {% endif %}
                -->
                &nbsp;
            </a>
        </dd>

        <dt>Airtime</dt>
        <dd>
            <span>{{ object.time_start|format_datetime('time_s') }}</span>
            {% if not object.onair %}
            -
            <span>{{ object.time_end|format_datetime('time_s') }}</span>
            {% endif %}
        </dd>
    </dl>

    <div class="separator" data-livefg></div>

    <!-- track related -->
    <dl>
        <dt>Song</dt>
        <dd>
            <a target="_blank" data-ct="media" data-livefg
               href="{{ base_url }}{{ object.item.absolute_url }}"
               title="{{ object.item.name }}">
                {{ object.item.name|truncate(32) }}&nbsp;
            </a>
        </dd>

        <dt>by</dt>
        <dd>
            <a target="_blank" data-ct="artist" data-livefg
               href="{{ base_url }}{{ object.item.artist.absolute_url }}"
               title="{{ object.item.artist.name }}">
                {{ object.item.artist.name|truncate(32) }}&nbsp;
            </a>
        </dd>

        <dt>Release</dt>
        <dd>
            <a target="_blank" data-ct="release" data-livefg
               href="{{ base_url }}{{ object.item.release.absolute_url }}"
               title="{{ object.item.release.name }}">
                {{ object.item.release.name|truncate(22) }}
                &nbsp;
            </a>
        </dd>

        <dt>Label</dt>
        <dd>
            <a target="_blank" data-ct="label" data-livefg
               href="{{ base_url }}{{ object.item.label.absolute_url }}">
                {{ object.item.label.name }}&nbsp;
            </a>
        </dd>

    </dl>

    <div class="separator" data-livefg></div>

    {% set relations = object.item.relations %}
    <div class="relations">
        {% if relations %}
        <ul class="no-bullet">
            {% for relation in relations %}
            <li>
                <a target="_blank" data-livefg href="{{ relation.url }}">
                    {{ relation.name }}
                </a>
            {% endfor %}
        </ul>
        {% endif %}
    </div>


</div>



