{% load cms_tags compress sekizai_tags i18n menu_tags bshop_tags %}

<div class="ajax-cart">
    <a href="{% url 'plata_shop_cart' %}"><span class="summary" style="display: none;"></span> <i class="fa fa-shopping-cart"></i></a>
</div>

{% addtoblock "css" %}
<style>
    div.ajax-cart {
        padding: 0 0 0 20px;
    }
    div.ajax-cart a {
        background: transparent !important;
    }
</style>
{% endaddtoblock %}

{% addtoblock "js-post" %}
<!-- TODO: likely this should be blaced in rep. static js -->
<script>

    /***************************************************************
     * shop / cart handling
     ***************************************************************/


    var CartApp = function() {
        var self = this;
        this.api_url;
        this.container = $('.ajax-cart');



        this.load = function(feedback) {


            $('.summary', self.container).show();

            var feedback = feedback || false;

            $.ajax({
                type: "GET",
                url: self.api_url,
                async: true,
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    console.log(data)
                    self.cart_local = data;
                    self.display(self.cart_local, feedback);
                },
                error: function (xhr, status, e) {
                    alert('error');
                }
            });

        };


        this.display = function(cart, feedback) {

            if (cart && cart.summary) {
                $('.summary', self.container).html(cart.summary);


                if (feedback) {
                    self.container.css('background', '#666')
                    setTimeout(function(){
                        self.container.css('background', 'transparent')
                    }, 1000)
                }


            }
        };

    };

    var cart_app = cart_app || new CartApp();
    // bindings
    $(function () {

        var c = cart_app;
        c.api_url = '{% url "wholesale-cart" %}';
        c.load();

        /*
        $('.listing a[data-action]').on('click', function(e){
            e.preventDefault();
            if($(this).data('action') == 'update-cart') {
                s.update_cart(function(data){
                    alert(data);
                });
            }
        });

        $('.listing a[data-action]').on('click', function(e){
            e.preventDefault();
            if($(this).data('action') == 'checkout') {
                var redirect = $(this).attr('href');
                s.update_cart(function(data){
                    document.location.href = redirect;
                });

            }
        });
        */


    });



</script>
{% endaddtoblock %}