body footer
  margin-top: 24px
  margin-bottom: 54px

  text-transform: uppercase

  .seperator
    padding-top: 12px
    border-top: 1px solid $grey-light

  p
    color: $grey-darker
    font-size: 0.9rem
    padding: 0

  a
    color: $grey-darker
    border-bottom: 1px solid $grey-darker


  .copyright
    padding-top: 30px

    a
      border-bottom: 0px

  .social-button
    width: 34px
    height: 34px
    line-height: 34px
    font-size: 20px
    margin-left: 20px
    transition: all 0.25s ease-in-out
    background-color: $grey-light
    background: $grey-light
    color: $grey-darker
    border: 0px

    &:hover
      color: $grey-light
      background-color: $grey-darker
      background: $grey-darker