{% load cms_tags staticfiles slick_admin_tags sekizai_tags i18n menu_tags settings_export_tags ganalytics %}<!DOCTYPE html>
<html class="no-js{% if user.is_authenticated %} is-authenticated{% endif %}" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>

    <title>{% block title %}{% page_attribute 'page_title' %}{% endblock %}{% block title-page %}{% endblock %}</title>

    <meta name="description"
          content="{% block meta_description %}{% page_attribute 'meta_description' %}{% endblock %}{% block meta_description_page %}{% endblock %}"/>
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
    <meta name="author" content="digris AG"/>

    <meta http-equiv="last-modified" content="{% page_attribute 'changed_date' %} UTC"/>

    <script>
        /*
         * handle #_=_ from facebook oauth redirect
         * https://developers.facebook.com/blog/post/552/
         * http://stackoverflow.com/questions/7485111/weird-url-appended
         */
        if(window.location.hash == '#_=_') {
            window.location.hash = '';
        }

        /*
         * exported settings
         */
        document.settings = {% json_settings settings %};

    </script>


    {% block meta_opengraph %}{% endblock %}

    {% include '_syndication/_og.html' %}
    {% include '_artwork/_icons.html' %}

    {% comment %}TODO: handle icons in a better way!{% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

    <!-- start: bundled js -->
    {% if webpack_devserver %}
        <script src="{% static 'js/bundle.js' %}"></script>
    {% else %}
        <link rel="stylesheet" href="{% static 'css/bundle.css' %}"/>
        <script src="{% static 'js/bundle.js' %}"></script>
    {% endif %}
    <!-- end: bundled js -->

    {% block link %}{% endblock link %}

    {% render_block "css" %}

    {% ganalytics %}

    {% render_block "js_ext" %}
    {% render_block "js" %}
    {% render_block "js-post" %}

</head>
<body id="base" class="{% block body_extra_class %}{% endblock %}" data-livebg data-bplayer_state="init" ontouchstart="">



{% if user.is_authenticated %}
<script>
    document.user = {
        'uuid': '{{ user.pk }}',
        'is_staff': '{{ user.is_staff|yesno:"true,false" }}',
    }
</script>
{% else %}
<script>
    document.user = null
</script>
{% endif %}

{% cms_toolbar %}
{% slick_admin_cms_style %}


{% block top-bar %}
<div id="topbar_container" class="topbar-container" data-livebg>
    <nav id="top_bar" class="topbar" data-livefg>
        <section class="topbar__logo">
            <a href="/"><span data-livefg>open broadcast</span></a>
            <div class="quick-contact">
                <p class="address" data-livefg>
                    Renggerstrasse 31<br>
                    8038 Zürich<br>
                    <a href="mailto:info@openbroadcast.ch">info@openbroadcast.ch</a>
                </p>
                <p class="network" data-livefg>
                    <span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="http://www.digris.ch/" target="_blank">digris AG</a>
                    </span>
                    <br>
                    <span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="https://www.openbroadcast.org/" target="_blank">open broadcast plattform</a>
                    </span>
                </p>
            </div>
        </section>
        <section class="topbar__main-menu" data-livefg>
            <ul class="menu">
                {% show_menu 0 100 100 100 "_layout/_navigation.html" %}
            </ul>
        </section>
        <section class="topbar__account" data-livefg>
            <ul class="menu">
                {% include "_layout/_accountbar.html" %}
            </ul>
        </section>

        <div class="topbar__toggle">
            <div class="toggle-icon-container" data-toggle-navigation>

                <div class="toggle-icon">
                    <div class="toggle-icon__line" data-livefg></div>
                    <div class="toggle-icon__line" data-livefg></div>
                    <div class="toggle-icon__line" data-livefg></div>
                </div>

                <!--<i class="fa fa-bars" aria-hidden="true"></i>-->
            </div>
        </div>

    </nav>
</div>
{% endblock %}

<header>
    {% block teaser %}{% endblock %}
</header>

{% block container %}
<div class="container" id="content_base">

    <div data-turbolinks-permanent id="onair_app_container" style="overflow: hidden;">
        <div id="onair_app"></div>
    </div>

    <div data-turbolinks-permanent id="chat_app_container">
        <div id="chat_app"></div>
    </div>

    {% block main_content %}{% endblock %}

    <div data-turbolinks-permanent id="player_app_container">
        <div id="player_app"></div>
    </div>

</div>
{% endblock %}
{% include "_layout/_footer.html" %}

<div id="fb-root"></div>

<div id="account_container" data-turbolinks-permanent>
    <div
        id="account_app"
        data-login-url="{% url 'account:login' %}"
        data-register-url="{% url 'account:register' %}"
        data-password-recover-url="{% url 'account:password_recover' %}"
    ></div>
</div>

<script data-turbolinks-eval=false>
    {% if user.is_authenticated %}
        var current_user = {
            id: {{ user.id }},
            username: '{{ user.username }}',
            is_staff: '{{ user.is_staff|yesno:'true,false' }}'
        };
    {% else %}
        var current_user = false;
    {% endif %}
</script>

<!-- test ... -->

</body>
</html>
