#topbar_container
  position: fixed
  width: 100%
  z-index: 999
  a, span
    font-size: 16px !important
    //white-space: nowrap

  section.logo
    position: absolute
    top: 0
    left: 0
    > a
      padding: 7px 0 0 20px
      display: block
      &:hover
        //text-decoration: underline

    .quick-contact
      max-height: 0
      overflow: hidden
      transition: max-height 0.25s
      margin-left: 20px

      p
        padding-top: 4px
        margin-bottom: 2px

    .address,
    .network
      a
        font-size: $global-font-size !important
        &:hover
          text-decoration: underline


    &.hover
      .quick-contact
        transition: max-height 0.10s
        max-height: 500px

  section.account
    position: absolute
    top: 0
    right: 0
    ul.menu li > ul
      right: 0


  section.main-menu,
  section.account

    ul.menu
      top: 0
      position: relative
      a
        white-space: nowrap !important

      > li
        transition: background-color 0.55s
        background-color: rgba(0,0,0,0)
        > a
          padding-left: 20px
          padding-right: 20px
          transition: color 0.15s

      li.hover,
      li.ancestor,
      li.selected
        transition: background-color 0.01s
        > a
          transition: color 0.01s

      > li
        position: relative
        top: 0
      > li > ul
        max-height: 0
        overflow: hidden
        transition: max-height 0.25s, background 1.0s

      > li
        > ul

          position: absolute
          top: 38px
          margin-left: 0
          list-style: none

          li
            padding: 7px 14px
            text-align: left
            opacity: 0.85
            transition: opacity 0.25s
            &.hover,
            &.selected
              transition: opacity 0.05s
              opacity: 1.0

      li.hover
        > ul
          transition: max-height 0.25s, background 0.01s
          max-height: 1000px
          position: absolute
          top: 38px
          margin-left: 0
          list-style: none
          li
            padding: 7px 14px
            text-align: left




//////////////////////////////////////////////////////
// responsive styles & overrides
//////////////////////////////////////////////////////

// toggle bar (hamburger)
#top_bar_toggle.title-bar
  background: transparent
  position: fixed
  right: 0
  top: 0
  z-index: 999


//////////////////////////////////////////////////////
// navigation styling
// this is quite hackish. maybe improve at some
// point of time...
//////////////////////////////////////////////////////
@include breakpoint(small down)
  #onair_container
    padding: 40px 0
  #topbar_container
    display: none
    //.logo
    //  display: none
    //
    //section.main-menu
    //  padding-left: 0
    //  padding-right: 0
    //
    //  border-bottom: 1px solid black
    //
    //section.account
    //  //display: none
    //  position: relative
    //  border-bottom: 2px solid black
    //  ul > li > a
    //    padding-left: 10px !important
    //
    //ul.menu
    //  //display: block
    //  flex-direction: column
    //  justify-content: flex-start
    //  align-items: flex-start
    //  //flex-flow: row wrap
    //
    //  > li
    //    //border-bottom: 1px solid #999
    //
    //  li
    //    width: 100%
    //    padding: 14px 10px !important
    //
    //    span.has-children-toggle
    //      padding: 17px 15px 15px 50px
    //      position: absolute
    //      top: 0
    //      right: 0
    //      z-index: 999
    //      cursor: pointer
    //
    //
    //  li.has-children
    //    ul
    //      overflow: hidden
    //    &.children-expanded
    //      ul
    //        overflow: visible !important
    //        position: relative
    //        top: auto
    //
    //  li > ul > li
    //    float: left
    //    padding: 14px 20px !important



