@charset "UTF-8"

.topbar-container

  position: fixed
  width: 100%
  z-index: 999
  font-size: 16px

  .topbar

    display: flex
    // text-rendering: auto


    &__main-menu
      flex-grow: 1
      .menu
        justify-content: center

    &__toggle
      display: none

    &__main-menu,
    &__account

      .menu

        top: 0
        position: relative
        list-style: none
        display: flex
        margin: 0

        // top level items
        > .menu-item
          position: relative
          top: 0

        // all items
        .menu-item
          height: 40px
          display: flex
          align-items: center
          transition: background-color 0.55s
          background-color: rgba(0,0,0,0)
          > a
            white-space: nowrap
            padding-left: 20px
            padding-right: 20px
            transition: color 0.15s

          &:hover,
          .selected
            transition: background-color 0.01s
            > a
              transition: color 0.01s


          // second level
          .submenu
            position: absolute
            top: 41px
            left: 0
            margin-left: 0
            list-style: none

            max-height: 0
            overflow: hidden
            transition: max-height 0.25s, background 1.0s

            .menu-item
              opacity: 0.95
              transition: opacity 0.25s

              &:hover,
              .selected
                transition: opacity 0.05s
                opacity: 1.0

          &:hover
            .submenu
              transition: max-height 0.25s, background 0.01s
              max-height: 1000px
              position: absolute
              top: 41px
              margin-left: 0
              list-style: none



    // align submenu to right
    &__account
      .submenu
        right: 0
        left: auto !important


    &__logo

      > a
        display: inline-block
        padding: 7px 0 0 20px

      .quick-contact
        position: absolute
        max-height: 0
        overflow: hidden
        transition: max-height 0.25s
        margin-left: 20px

        p,
        a
          font-size: $global-font-size

        p
          padding-top: 4px
          margin-bottom: 2px

        a:hover
          text-decoration: underline


      &:hover
        .quick-contact
          transition: max-height 0.10s
          max-height: 500px






//////////////////////////////////////////////////////
// mobile navigation
//////////////////////////////////////////////////////
@include breakpoint(medium down)
  .topbar-container
    // display: none

    .topbar

      border-bottom: 2px solid transparent
      height: 42px

      flex-direction: column

      &__logo
        flex-grow: 1
        text-align: center
        height: 40px

        > a
          display: inline-block
          height: 40px
          padding: 7px 0 0


        .quick-contact
          display: none



      &__toggle
        display: flex
        height: 40px
        width: 40px
        position: absolute
        right: 0
        top: 0
        align-items: center
        justify-content: center
        cursor: pointer


        .toggle-icon-container
          width: 100%
          height: 100%
          display: inline-block
          //text-align: center
          //font-size: 24px

          .toggle-icon
            width: 40px
            height: 40px
            display: flex
            flex-direction: column
            align-content: space-between
            flex-flow: row wrap
            padding: 10px 7px

            &__line
              height: 2px
              width: 100%
              border-bottom-width: 2px
              border-bottom-style: solid


      &__main-menu,
      &__account
        display: none





    .topbar

      //transition: height 200ms

      &.extended
        height: 100vh
        // background: #fff
        margin-top: 42px
        border-bottom: 0

        .topbar__logo
          // display: none
          top: 0
          position: absolute
          width: 100%

        .topbar__main-menu
          flex-grow: 0

        .topbar__account
          order: 2
          flex-grow: 1

          .menu
            border-top: 2px solid #000

        .topbar__main-menu,
        .topbar__account
          display: block

          .menu-item
            a
              color: #000

            &:hover
              background: transparent

            &.selected
              background-color: #000
              a
                color: #fff

          .menu

            padding: 0

            background-color: #fff
            display: flex
            flex-direction: column

            .menu-item
              text-align: center
              height: auto
              flex-direction: column

              &:not(.has-parent)
                border-bottom: 1px solid rgba(#000, .1)

                &:last-child
                  border-bottom: 0


              &.selected
                background: transparent
                a
                  color: $black
                > a
                  background: $black
                  color: $white

              > a
                display: flex
                width: 100%
                //height: 100%
                height: 40px
                align-items: center
                justify-content: center

            // TODO: implement 2nd level
            .submenu
              display: block
              position: relative
              max-height: 100%
              width: 100%
              top: 0
              background: transparent
              //display: none !important

